<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Ajouter un bien</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.home1">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="routes.mylisting">Mes biens</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              Ajouter bien
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Profile Content -->
<div class="dashboard-content">
  <div class="container">
    <div class="">
      <ul class="dashborad-menus">
        <li>
          <a [routerLink]="routes.dashboard">
            <i class="feather-grid"></i> <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.mylisting">
            <i class="feather-list"></i> <span>Mes biens</span>
          </a>
        </li>
        <li *ngIf="isAgence">
          <a [routerLink]="routes.bookmarks">
            <i class="fas fa-users"></i> <span>Mes agents</span>
          </a>
        </li>
        <li *ngIf="isAgence  || isProprietaire">
          <a [routerLink]="routes.rdv">
            <i class="far fa-calendar-alt"></i> <span>Rendez-vous</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.messages">
            <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.reviews">
            <i class="fas fa-bell"></i> <span>Notifications</span>
          </a>
        </li>
        <li>
          <a [routerLink]="routes.profile">
            <i class="fa-solid fa-user"></i> <span>Profil</span>
          </a>
        </li>
        <!-- <li>
          <a [routerLink]="routes.login">
            <i class="fas fa-light fa-circle-arrow-left"></i>
            <span>Deconnexion</span>
          </a>
        </li> -->
      </ul>
    </div>
    <div class="profile-content">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="messages-form" enctype="multipart/form-data">
        <div class="card">
          <div class="card-header">
            <h4>Information de base</h4>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label class="col-form-label">Nom du bien <span>*</span></label>
              <input type="text" class="form-control pass-input" name="nom" [(ngModel)]="form.nom" placeholder="Nom" />
            </div>

            <div class="form-group">
              <label class="col-form-label">Prix du bien <span>*</span></label>
              <div class="pass-group group-img">
                <!-- <input type="text" name="prix" [(ngModel)]="form.prix" class="form-control pass-input" required
                  aria-required="true" placeholder="FCFA" appThousandSeparator /> -->

                <input type="text" (keypress)="onKeyPress($event)" name="prix" [(ngModel)]="form.prix"
                  class="form-control pass-input" required aria-required="true" placeholder="FCFA" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">Description du bien <span>*</span></label>
              <div class="form-floating">
                <quill-editor name="description" [(ngModel)]="form.description" placeholder="Description"
                  [modules]="quillConfig" (onSelectionChanged)="onSelectionChanged($event)"
                  (onContentChanged)="onContentChanged($event)">
                </quill-editor>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4>Information de base</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- Type -->
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Type <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Type</mat-label>
                      <mat-select [(ngModel)]="form.type" name="type" (selectionChange)="onTypeChange($event)">
                        <mat-option *ngFor="let item of typebien" [value]=" item?.id">{{ item?.nom }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- statut -->
              <div class="col-lg-6 col-md-6" *ngIf="selectedType === 3">
                <div class="form-group">
                  <label class="col-form-label">Statut <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Statut</mat-label>
                      <mat-select [(ngModel)]="form.statut" name="statut">
                        <mat-option [value]="2">A vendre</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- statut -->
              <div class="col-lg-6 col-md-6" *ngIf="selectedType != '3'">
                <div class="form-group">
                  <label class="col-form-label">Statut <span>*</span></label>
                  <div class="pass-group group-img">
                    <!-- <select
                      (change)="onStatutChange($event)"
                      [(ngModel)]="form.statut"
                      name="statut"
                      class="form-control"
                      id=""
                    >
                      <option *ngFor="let item of status" [value]=" item?.id">
                        {{ item?.nom }}
                      </option>
                    </select> -->
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Statut</mat-label>
                      <mat-select [(ngModel)]="form.statut" name="statut" (selectionChange)="onStatutChange($event)">
                        <mat-option *ngFor="let item of status" [value]=" item?.id">{{ item?.nom }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- caracteristique -->
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label class="col-form-label">Caracteristique <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Caracteristique</mat-label>
                      <mat-select [(ngModel)]="form.caracteristique" name="caracteristique">
                        <mat-option *ngFor="let item of caracteristique" [value]=" item?.id">
                          {{ item?.caracteristique }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- Nombre de salon -->
              <div class="col-lg-6 col-md-6" *ngIf="selectedType != '3'">
                <div class="form-group">
                  <label class="col-form-label">Nombre de salon <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Nombre de salon</mat-label>
                      <mat-select [(ngModel)]="form.nb_piece" name="nb_piece">
                        <mat-option *ngFor="let item of valuesSelect" [value]="item">
                          {{ item }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- Nombre de cuisine -->
              <div class="col-lg-6 col-md-6 mb-4" *ngIf="selectedType != '3'">
                <div class="form-group formlast-input lat-input">
                  <label class="col-form-label">Cuisines <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Cuisines</mat-label>
                      <mat-select [(ngModel)]="form.cuisine" name="cuisine">
                        <mat-option *ngFor="let item of valuesSelect" [value]="item">
                          {{ item }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- Nombre de chambre -->
              <div class="col-lg-6 col-md-6" *ngIf="selectedType != '3'">
                <div class="form-group formlast-input">
                  <label class="col-form-label">Chambres <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Chambres</mat-label>
                      <mat-select [(ngModel)]="form.chambre" name="chambre">
                        <mat-option *ngFor="let item of valuesSelect" [value]="item">
                          {{ item }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6" *ngIf="selectedType != '3'">
                <div class="form-group formlast-input">
                  <label class="col-form-label">Toilette <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Toilette</mat-label>
                      <mat-select [(ngModel)]="form.toilette" name="toilette">
                        <mat-option *ngFor="let item of valuesSelect" [value]="item">
                          {{ item }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>


              <!-- Nombre de toilette -->
              <!-- <div class="col-lg-6 col-md-6" *ngIf="selectedType != '3'">
                <div class="form-group formlast-input">
                  <label class="col-form-label">Toilette <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field
                      class="mat-custom-select"
                      style="width: 100%"
                    >
                      <mat-label *ngIf="selectedCategory == ''">
                        Toilette</mat-label
                      >
                      <mat-select [(ngModel)]="form.toilette" name="toilette">
                        <mat-option
                          *ngFor="let item of valuesSelect"
                          [value]="item"
                        >
                          {{ item }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div> -->
              <!-- Nombre de surface -->
              <div class="col-lg-6 col-md-6" *ngIf="selectedStatut != 1">
                <div class="form-group">
                  <label class="col-form-label">Superficie du bien (M²) <span>*</span></label>
                  <input type="number" pattern="[0-9]" name="surface" [(ngModel)]="form.surface"
                    class="form-control pass-input" required aria-required="true" placeholder="000000" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6" *ngIf="selectedStatut === 1">
                <div class="form-group">
                  <label class="col-form-label">Periode <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Periode</mat-label>
                      <mat-select [(ngModel)]="form.periode" name="periode"
                        (selectionChange)="onStatutChangeMensuel($event)">
                        <mat-option *ngFor="let item of periode" [value]=" item?.id">
                          {{ item?.nom }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6" *ngIf="selectedStatutMensuel === 2">
                <div class="form-group">
                  <label class="col-form-label">Caution <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Caution</mat-label>
                      <mat-select [(ngModel)]="form.caution" name="caution">
                        <mat-option *ngFor="let item of valuesSelect" [value]="item">
                          {{ item }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6" *ngIf="selectedStatutMensuel === 2">
                <div class="form-group">
                  <label class="col-form-label">Avance <span>*</span></label>
                  <div class="pass-group group-img">
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Avance</mat-label>
                      <mat-select [(ngModel)]="form.avance" name="avance">
                        <mat-option *ngFor="let item of valuesSelect" [value]="item">
                          {{ item }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4>Les commodites</h4>
          </div>
          <div class="card-body">
            <br />
            <div class="row social-info">
              <!-- <div class="col-lg-6 col-md-6"> -->
              <div class="form-group formlast-input lat-input">
                <label class="col-form-label">Commodites <span>*</span></label>
                <div class="pass-group group-img">
                  <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let item of lesCommodite">
                      <ul>
                        <li>
                          <label class="custom_check">
                            <input type="checkbox" [(ngModel)]=" item.selected" [value]=" item?.id"
                              (change)="onChangeCommodite()" name="commodite" />
                            <span class="checkmark"></span> {{ item?.nom }}
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h4>Location information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- Pays  -->


              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label">Pays <span>*</span></label>
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Pays</mat-label>
                      <mat-select [(ngModel)]="selectedValue" name="pays" (selectionChange)="onChange($event)">
                                 
                        <mat-option *ngFor="let item of pays" [value]=" item?.nompays">{{ item?.nompays }}</mat-option>
                               
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <!-- Region  -->
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label">Region <span>*</span></label>
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">Region</mat-label>
                      <mat-select [(ngModel)]="selectedValueR" name="region" (selectionChange)="onChangeRegion($event)">
                        <mat-option *ngFor="let item of regions" [value]=" item?.nomregion">{{ item?.nomregion
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label">Cercle <span>*</span></label>
                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">Cercle</mat-label>
                      <mat-select [(ngModel)]="selectedValueC" name="cercle" (selectionChange)="onChangeCercle($event)">
                        <mat-option *ngFor="let item of cercles" [value]=" item?.nomcercle">{{ item?.nomcercle
                          }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Commune  -->

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label">Commune <span>*</span></label>

                    <mat-form-field class="mat-custom-select" style="width: 100%">
                      <mat-label *ngIf="selectedCategory == ''">
                        Commune</mat-label>
                      <mat-select name="commune" [(ngModel)]="form.commune" (selectionChange)="onChangeCommune($event)">
                                 <mat-option *ngFor="let item of communes" [value]=" item?.id">{{ item?.nomcommune
                          }}</mat-option>
                               
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- Quartier  -->
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label">Quartier <span>*</span></label>
                    <input type="text" name="quartier" [(ngModel)]="form.quartier" (input)="onChangeQuartier($event)"
                      class="form-control pass-input" placeholder="Quartier" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Rue  -->
              <div class="col-lg-6 col-md-6" *ngIf="selectedType != '3'">
                <div class="form-group">
                  <div class="pass-group group-img">
                    <label class="col-form-label">Rue <span>*</span></label>
                    <input name="rue" [(ngModel)]="form.rue" type="text" class="form-control pass-input"
                      placeholder="Rue" />
                  </div>
                </div>
              </div>
              <!-- Porte  -->
              <div class="col-lg-6 col-md-6" *ngIf="selectedType != '3'">
                <div class="form-group formlast-input">
                  <label class="col-form-label">Porte <span>*</span></label>
                  <input type="text" name="porte" [(ngModel)]="form.porte" class="form-control pass-input"
                    placeholder="9999" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- LA PARTIE MAP  -->
        <div class="card">
          <div class="card-header">
            <h4>Choisir l'emplacement du bien sur la map</h4>
          </div>
          <div class="listing-map">
            <div id="map" style="width: 100%; height: 32vw"></div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="col-form-label">Latitude</label>
                <input type="text" class="form-control" readonly placeholder="Latitude" name="latitude"
                  [(ngModel)]="form.latitude" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label class="col-form-label">Longitude</label>
                <input type="text" class="form-control" readonly placeholder="Longitude" name="longitude"
                  [(ngModel)]="form.longitude" />
              </div>
            </div>
          </div>
        </div>

        <div class="card media-section">
          <div class="card-header">
            <h4>Media Information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="featured-img1">
                <h6 class="media-title">Images biens <span>*</span></h6>
                <div class="media-image">
                  <div *ngFor="let imageUrl of image; let i = index" class="image-container m-1">
                    <img class="m-3" [src]="imageUrl" alt="Image {{ i }}" />
                    <button class="close-button" (click)="removeImage(i)">
                      <i class="fas fa-times close-icon"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="settings-upload-btn">
                <input type="file" id="photo" name="photo" (change)="onFileSelected($event)" multiple
                  class="hide-input image-upload" [disabled]="maxImageCount >= 8"
                  accept=".png, .jpeg, .jpg, .svg, .webp" />
                <label for="photo" class="file-upload">Ajouter l'image</label>
              </div>

            </div>
          </div>
          <div *ngIf="isSuccess" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Ajouter bien</button>

      </form>

    </div>
  </div>
</div>
<!-- /Profile Content -->