.commune-image {
    width: 100%;
    height: 100%; /* Pour conserver le rapport hauteur/largeur de l'image */
    object-fit: fill; /* ou 'cover' selon l'effet souhaité */
}

.car-location-img-container {
    height: 60%;
}

.carousel-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex; /* Aligner les images horizontalement */
}

.carousel-background img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out; /* Ajouter une transition de fondu */
    opacity: 0; /* Commencer avec une opacité de 0 pour la transition */
}