<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">La liste des Blogs</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home9">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Blog List -->
<div class="bloglist-section bloggrid-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <!-- Vérifiez s'il y a des blogs à afficher -->
                    <ng-container *ngIf="blog && blog?.length > 0; else noBlogs">
                        <div class="col-lg-6 col-md-6 d-lg-flex " *ngFor="let slide of  blog | filter:searchText">
                            <div class="blog grid-blog w-100">
                                <div class="blog-image">
                                    <a (click)="goToDettailBlog(slide.uuid)"><img class="img-fluid image-size crd"
                                            src="{{generateImageUrl(slide.photo)}}"
                                            (error)="handleAuthorImageError($event)" alt="Post Image"></a>
                                </div>
                                <div class="blog-content">
                                    <!-- <p class="blog-category">
                                        <a href="javascript:void(0)"><span>test1</span></a><a
                                            href="javascript:void(0)"><span>test2</span></a>
                                    </p> -->
                                    <ul class="entry-meta meta-item">
                                        <li>
                                            <!-- <div class="post-author">
                                                <div class="post-author-img">
                                                    <img src="{{generateImageUrl(slide?.utilisateur?.photo)}}"
                                                        (error)="handleAuthorImageError1($event)" alt="author">
                                                </div>
                                                <a href="javascript:void(0)"> <span> {{slide.utilisateur?.nom}}
                                                    </span></a>
                                            </div> -->
                                        </li>
                                        <li class="date-icon"><i class="fa-solid fa-calendar-days"></i>
                                            {{slide.createdAt | date:"dd MMM yyyy":locale}}</li>
                                    </ul>
                                    <h3 class="blog-title crd"><a (click)="goToDettailBlog(slide.uuid)">{{slide?.titre}}</a>
                                    </h3>
                                    <p class="blog-description">{{slide?.description}} </p>
                                    <div class="viewlink crd"><a (click)="goToDettailBlog(slide.uuid)">Voir plus <i
                                                class="feather-arrow-right"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- Si la liste des blogs est vide, affichez "Pas de blog" -->
                    <ng-template #noBlogs>
                        <!-- Spinner  -->
                        <div class="row" style="margin-left: auto !important;
                        margin-right: auto !important;">
                            <ng-container>
                                <div class="col-lg-6 col-md-6 d-lg-flex" aria-hidden="true">
                                    <div class="blog grid-blog">
                                        <div class="blog-image">
                                            <a><img class="img-fluid image-size crd"
                                                    src="assets/img/test.jpg" alt="Post Image"></a>
                                        </div>
                                        <div class="blog-content placeholder-glow">
                                            <ul class="entry-meta meta-item">
                                                <li>
                                                    <div class="post-author">
                                                        <div class="post-author-img placeholder">
                                                            <img src="" alt="author">
                                                        </div>
                                                        <a> <span class="placeholder"> ttthhfhfhhf
                                                            </span></a>
                                                    </div>
                                                </li>
                                                <li class="date-icon placeholder">
                                                    gggfffff</li>
                                            </ul>
                                            <h3 class="blog-title placeholder-glow">
                                                <span class="placeholder col-6"></span>
                                            </h3>
                                            <p class="card-text placeholder-glow">
                                                <span class="placeholder col-7"></span>
                                                <span class="placeholder col-4"></span>
                                                <span class="placeholder col-4"></span>
                                                <span class="placeholder col-6"></span>
                                                <span class="placeholder col-8"></span>
                                            </p>
                                            <div class="btn btn-primary disabled placeholder col-6"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 d-lg-flex" aria-hidden="true">
                                    <div class="blog grid-blog">
                                        <div class="blog-image">
                                            <a><img class="img-fluid image-size crd"
                                                    src="assets/img/test.jpg" alt="Post Image"></a>
                                        </div>
                                        <div class="blog-content placeholder-glow">
                                            <ul class="entry-meta meta-item">
                                                <li>
                                                    <div class="post-author">
                                                        <div class="post-author-img placeholder">
                                                            <img src="" alt="author">
                                                        </div>
                                                        <a> <span class="placeholder"> ttthhfhfhhf
                                                            </span></a>
                                                    </div>
                                                </li>
                                                <li class="date-icon placeholder">
                                                    gggfffff</li>
                                            </ul>
                                            <h3 class="blog-title placeholder-glow">
                                                <span class="placeholder col-6"></span>
                                            </h3>
                                            <p class="card-text placeholder-glow">
                                                <span class="placeholder col-7"></span>
                                                <span class="placeholder col-4"></span>
                                                <span class="placeholder col-4"></span>
                                                <span class="placeholder col-6"></span>
                                                <span class="placeholder col-8"></span>
                                            </p>
                                            <div class="btn btn-primary disabled placeholder col-6"></div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>

                        </div>
                    </ng-template>

                </div>
                <!--Pagination-->
                <!-- <div class="blog-pagination">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item previtem">
                                <a class="page-link" href="javascript:void(0)"><i
                                        class="fas fa-regular fa-arrow-left"></i> Prec</a>
                            </li>
                            <li class="justify-content-center pagination-center">
                                <div class="pagelink">
                                    <ul>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">1</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0)">2 <span
                                                    class="visually-hidden">(current)</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">...</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">14</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="page-item nextlink">
                                <a class="page-link" href="javascript:void(0)">Suiv <i
                                        class="fas fa-regular fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
                <!--/Pagination-->

            </div>
            <div class="col-lg-4 theiaStickySidebar">
                <div class="stickybar">
                    <div class="rightsidebar">
                        <div class="card">
                            <!--<h4 class="feather-tagf" style="min-width: 90px;background-color: #374B5C;
                            border: 1px solid #374B5C; color: white;display: flex;align-items: center;">
                                <a class="nav-link header-login add-listing" [routerLink]="routes.addlisting"><i
                                        class="fa-solid fa-plus"></i>
                                    Ajouter un blog</a>
                            </h4>-->
                            <!--<h4><i class="feather-tag"></i> Articles</h4>-->
                            <h4><img style="width: 27px;" src="assets/img/details-icon.svg" alt="details-icon"> Filtrer
                            </h4>
                            <div class="filter-content looking-input form-group mb-0">
                                <input [(ngModel)]="searchText" type="text" class="form-control"
                                    placeholder="Rechercher">
                            </div>
                        </div>
                        <!--<div class="card">
                            <h4><img src="assets/img/category-icon.svg" alt="details-icon"> Categories</h4>
                            <ul class="blogcategories-list">
                                <li><a href="javascript:void(0)">Accept Credit Cards</a></li>
                                <li><a href="javascript:void(0)">Smoking Allowed</a></li>
                                <li><a href="javascript:void(0)">Bike Parking</a></li>
                                <li><a href="javascript:void(0)">Street Parking</a></li>
                                <li><a href="javascript:void(0)">Wireless Internet</a></li>
                                <li><a href="javascript:void(0)">Pet Friendly</a></li>
                            </ul>
                        </div>
                        <div class="card tags-widget">
                            <h4><i class="feather-tag"></i> Tags</h4>
                            <ul class="tags">
                                <li>Travelling </li>
                                <li>Art </li>
                                <li>Vacation </li>
                                <li>Tourism </li>
                                <li>Culture </li>
                                <li>Lifestyle </li>
                                <li>Travelling </li>
                                <li>Art </li>
                                <li>vacation </li>
                                <li>Tourism </li>
                                <li>Culture </li>
                            </ul>
                        </div>-->
                        <div class="card" *ngIf="bienImmo && bienImmo?.length > 0">
                            <h4><i class="feather-tag"></i> Biens recents</h4>
                            <div class="article" *ngFor="let BienImo of bienImmo">
                                <a (click)="goToDettailBien(BienImo.uuid)" 
                                    class="articleimg-1 crd"
                                    [style.background-image]="BienImo?.photos[0]?.nom ? 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(' + generateImageUrl(BienImo?.photos[0]?.nom) + ')' : 'linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(assets/img/typebien/villa.png)'">
                                    <ul>
                                        <li>
                                            <h6>{{ BienImo?.nom ? BienImo?.nom : BienImo?.typeImmo?.nom }}</h6>
                                        </li>
                                        <li *ngIf="BienImo && BienImo.createdAt" class="date-icon"><i
                                                class="fa-solid fa-calendar-days"></i> {{BienImo.createdAt |
                                            date:"dd MMM yyyy":locale}}
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <!-- <div class="article">
                                <a [routerLink]="routes.blogdetails" class="articleimg-2">
                                    <ul>
                                        <li>
                                            <h6>Nom bien</h6>
                                        </li>
                                        <li class="date-icon"><i class="fa-solid fa-calendar-days"></i> 25 Juillet 2023
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <div class="article">
                                <a [routerLink]="routes.blogdetails" class="articleimg-3">
                                    <ul>
                                        <li>
                                            <h6>Nom bien</h6>
                                        </li>
                                        <li class="date-icon"><i class="fa-solid fa-calendar-days"></i> 25 Juillet 2023
                                        </li>
                                    </ul>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<!-- /Blog List -->
<header class="bg-primary text-white">
    <h1 class="text-center">Acte de vente immobilière</h1>
  </header>
  <main class="container">
    <section class="parties mt-5">
      <h2>Parties</h2>
      <div class="row">
        <div class="col-md-6">
          <h3>Le Vendeur</h3>
          <ul class="list-unstyled">
            <li>[Nom de la compagnie]</li>
            <li>[Type de société]</li>
            <li>[Loi constitutive ou régissante]</li>
            <li>[Adresse complète]</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>L'Acheteur</h3>
          <ul class="list-unstyled">
            <li>[Nom de l'acheteur]</li>
            <li>[Type de société]</li>
            <li>[Loi constitutive ou régissante]</li>
            <li>[Adresse complète]</li>
          </ul>
        </div>
      </div>
    </section>
    <section class="conditions mt-5">
      <h2>Conditions</h2>
      <ol class="list-numbered">
        <li>
          <p>Le Vendeur cèdera tout droit de propriété sur le bien-fonds à l'Acheteur après réception du paiement intégral.</p>
          <p>Le bien-fonds sera cédé exempt de toute charge, privilège ou sûreté.</p>
          <p>Un acte de garantie explicite sera fourni, renonçant au droit au domicile familial et à l'usufruit en cas de décès.</p>
          <p>Le bien-fonds est sis [Préciser les données cadastrales du bien-fonds].</p>
        </li>
        <li>
          <p>L'Acheteur s'engage à payer au Vendeur un montant de [Montant] selon les modalités suivantes [Préciser les modalités de paiement].</p>
        </li>
        <li>
          <p>Le Vendeur garantit à l'Acheteur qu'aucune notification d'infraction aux codes d'habitation n'a été reçue.</p>
        </li>
        <li>
          <p>Le délai de paiement est un élément essentiel du présent acte.</p>
        </li>
      </ol>
    </section>
    <section class="signatures mt-5">
      <h2>Signatures</h2>
      <div class="row">
        <div class="col-md-6">
          <h3>Le Vendeur</h3>
          <div class="border p-3">
            <p><span>Signature autorisée</span></p>
            <p><span>Nom et fonction</span></p>
          </div>
        </div>
        <div class="col-md-6">
          <h3>L'Acheteur</h3>
          <div class="border p-3">
            <p><span>Signature autorisée</span></p>
            <p><span>Nom et fonction</span></p>
          </div>
        </div>
      </div>
    </section>
  </main>