.image-size {
    width: 100%;
    /* Remplacez cette valeur par la taille souhaitée */
    height: 300px;
    /* Remplacez cette valeur par la taille souhaitée */
}

.image-sizeresents {
    width: 100%;
    /* Remplacez cette valeur par la taille souhaitée */
    height: 200px;
    /* Remplacez cette valeur par la taille souhaitée */
}

.crd:hover {
    cursor: pointer;
}

.crd {
    cursor: pointer;
}

.Pblog{
    font-size: 25px;
    font-weight: 700;
    color: #131212;
}