.mine-message {
    background-color: #e0f2f1; /* Exemple de couleur pour les messages "mine" */
}

.other-message {
    background-color: #f5f5f5; /* Exemple de couleur pour les autres messages */
}
.crd:hover {
    cursor: pointer;
}

.crd {
    cursor: pointer;
}