<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Messages</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home9">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Messages</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Profile Content -->
<div class="dashboard-content">
    <div class="container">
        <div class="">
            <ul class="dashborad-menus">
                <li>
                    <a [routerLink]="routes.dashboard">
                        <i class="feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.profile">
                        <i class="fa-solid fa-user"></i> <span>Profil</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.mylisting">
                        <i class="feather-list"></i> <span>Mes biens</span>
                    </a>
                </li>
                <li *ngIf="isAgence">
                    <a [routerLink]="routes.bookmarks">
                        <i class="fas fa-solid fa-heart"></i> <span>Mes agents</span>
                    </a>
                </li>
                <li class="active">
                    <a [routerLink]="routes.messages">
                        <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.reviews">
                        <i class="fas fa-solid fa-star"></i> <span>Notifications</span>
                    </a>
                </li>
                <!-- <li class="crd">
                    <a (click)="logout()">
                        <i class="fas fa-light fa-circle-arrow-left"></i> <span>Deconnexion</span>
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="profile-content">
            <div class="row dashboard-info chat-window">
                <div class="col-lg-4">
                    <div class="chat-cont-left">
                        <form class="chat-search">
                            <div class="form-group">
                                <div class="group-img">
                                    <img src="assets/img/chatsearch.svg" alt="">
                                    <input [(ngModel)]="searchText" type="text" class="form-control"
                                        placeholder="Rechercher">
                                </div>
                            </div>
                        </form>
                        <div class="chat-users-list">
                            <div class="chat-scroll">
                                <a class="media d-flex" *ngFor="let Conversations of conversations | filter:searchText">
                                    <div class="media-img-wrap flex-shrink-0"
                                        (click)="onConversationSelected(Conversations.conversationId)">
                                        <div class="avatar avatar-online">
                                            <img src="{{generateImageUrl(Conversations.photo)}}"
                                                class="avatar-img rounded-circle" alt="img"
                                                (error)="handleAuthorImageError($event)">
                                        </div>
                                    </div>
                                    <div class="media-body flex-grow-1">
                                        <div>
                                            <div class="user-name">{{Conversations.nom}}</div>
                                            <div class="user-last-chat">{{Conversations.content}}</div>
                                        </div>
                                        <div>
                                            <div class="last-chat-time block">{{Conversations.createdAt |
                                                date:"dd/MM/yyyy"}} - {{Conversations.createdAt |
                                                date:"HH:mm"}} </div>
                                            <div class="badge badge-success rounded-pill">10</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-8" *ngIf="conversations">
                    <div class="chat-cont-right">
                        <div class="chat-header">
                            <a id="back_user_list" href="javascript:void(0)" class="back-user-list">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                            <div class="media d-flex align-items-center">
                                <div class="media-img-wrap flex-shrink-0">
                                    <div class="avatar avatar-online">
                                        <img src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI="
                                            alt="User Image" class="avatar-img rounded-circle">
                                    </div>
                                </div>
                                <div class="media-body flex-grow-1">
                                    <div class="user-name">{{conversations.nom}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-body">
                            <div class="chat-scroll">
                                <ul class="list-unstyled">
                                    <li class="media d-flex received">
                                        <div class="avatar flex-shrink-0">
                                            <img src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI="
                                                alt="User Image" class="avatar-img rounded-circle">
                                        </div>
                                        <div class="media-body flex-grow-1">
                                            <div class="msg-box" *ngFor="let Messages of filteredMessages">
                                                <div
                                                    [ngClass]="{'mine-message': Messages.mine==true, 'other-message': !Messages.mine}">
                                                    <p>{{Messages.content}}</p>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                                <span>{{Messages.createdAt |
                                                                    date:"HH:mm"}}</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media d-flex sent">
                                        <div class="media-body flex-grow-1">
                                            <div class="msg-box"
                                                *ngFor="let Messages of filteredMessagesUserCurrent">
                                                <div>
                                                    <p>{{Messages.content}}</p>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                                <span>{{Messages.createdAt |
                                                                    date:"HH:mm"}}</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- <div class="msg-box">
                                                <div>
                                                    <p>OK, my name is Limingqiang. I like singing, playing basketballand so on.</p>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                                <span>9:45 AM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> 
                                             <div class="msg-box">
                                                <div>
                                                    <div class="chat-msg-attachments">
                                                        <div class="chat-attachment">
                                                            <img src="assets/img/chat-attachment.jpg" alt="Attachment">
                                                            <a href="javascript:void(0)" class="chat-attach-download">
                                                            <i class="feather-download"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <ul class="chat-msg-info">
                                                        <li>
                                                            <div class="chat-time">
                                                               <span>8:41 AM</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div> -->
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="chat-footer">
                            <div class="input-group">
                                <div class="attach-btn">
                                    <input name="content" [(ngModel)]="MessageForm.content" type="text"
                                        class="input-msg-send form-control" placeholder="Message">
                                    <div class="btn-file btn">
                                        <i class="fa fa-paperclip"></i>
                                        <input name="file" type="file">
                                    </div>
                                </div>
                                <button (click)="EnvoyerMessage(selectedConversationId)"
                                    [disabled]="!MessageForm.content || MessageForm.content.trim() === '' "
                                    type="button" class="btn msg-send-btn"><i class="fas fa-paper-plane"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Profile Content -->