<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Dashboard</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home9">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Dashboard Content -->
<div class="dashboard-content">
    <div class="container">
        <div class="">
            <ul class="dashborad-menus">
                <li class="active">
                    <a [routerLink]="routes.dashboard">
                        <i class="feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.profile">
                        <i class="fa-solid fa-user"></i> <span>Profil</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.mylisting">
                        <i class="feather-list"></i> <span>Mes biens</span>
                    </a>
                </li>
                <li *ngIf="isAgence">
                    <a [routerLink]="routes.bookmarks">
                        <i class="fas fa-users"></i> <span>Mes agents</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.messages">
                        <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.reviews">
                        <i class="fas fa-bell"></i><span>Notifications</span>
                    </a>
                </li>
                <!-- <li class="crd">
                    <a (click)="logout()">
                        <i class="fas fa-light fa-circle-arrow-left"></i> <span>Deconnexion</span>
                    </a>
                </li> -->
            </ul>
        </div>
        <div class="dashboard-details">
            <div class="row">
                <div class="col-lg-3 col-md-3" *ngIf="isLocataire">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <!-- <img src="assets/img/icons/verified.svg" class="img-fluid" alt=""> -->
                                    <img src="assets/img/icons/category-7.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Biens loues</h6>
                                <h3 class="counter">{{nombreBienLoue}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3" *ngIf="isLocataire">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <!-- <img src="assets/img/icons/verified.svg" class="img-fluid" alt=""> -->
                                    <img src="assets/img/icons/category-7.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Biens achetes</h6>
                                <h3 class="counter">{{nombreBienAchete}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3" *ngIf="!isLocataire && !isAgence && !isAgent">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <!-- <img src="assets/img/icons/verified.svg" class="img-fluid" alt=""> -->
                                    <img src="assets/img/icons/category-7.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Biens</h6>
                                <h3 class="counter">{{nombreBienAutre}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3" *ngIf="isAgence">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <!-- <img src="assets/img/icons/verified.svg" class="img-fluid" alt=""> -->
                                    <img src="assets/img/icons/category-7.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Biens</h6>
                                <h3 class="counter">{{nombrebien}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3" *ngIf="!isLocataire">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <img src="assets/img/icons/rating.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Rendez-vous</h6>
                                <h3 class="counter">{{nombreRdvUser}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <img src="assets/img/icons/chat.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Conversations</h6>
                                <h3 class="counter">{{nombreconversation}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3" *ngIf="isAgence">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <img src="assets/img/icons/bookmark.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Agents</h6>
                                <h3 class="counter">{{somme}}</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3" *ngIf="!isAgence">
                    <div class="card dash-cards cad">
                        <div class="card-body">
                            <div class="dash-top-content">
                                <div class="dashcard-img">
                                    <img src="assets/img/icons/bookmark.svg" class="img-fluid" alt="">
                                </div>
                            </div>
                            <div class="dash-widget-info">
                                <h6>Notifications</h6>
                                <h3 class="counter">{{somme}}</h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row dashboard-info">
                <div class="col-lg-6 d-flex">
                    <div class="card dash-cards w-100">
                        <div class="card-header">
                            <h4>Statistique des utilisateurs</h4>
                            <!-- <div class="card-dropdown">
                                <ul>
                                    <li class="nav-item dropdown has-arrow logged-item">
                                        <a href="#" class="dropdown-toggle pageviews-link" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <span>Tout</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="javascript:void();">Semaine passee</a>
                                            <a class="dropdown-item" href="javascript:void()">Cette senaine</a>
                                            <a class="dropdown-item" href="javascript:void()">Semaine prochaine</a>
                                        </div>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
                        <div class="card-body">
                            <div id="review-chart">
                                <div id="chart">
                                    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
                                        [xaxis]="chartOptions.xaxis" [title]="chartOptions.title"
                                        [dataLabels]="chartOptions.dataLabels" [legend]="chartOptions.legend"
                                        [colors]="chartOptions.colors" [markers]="chartOptions.markers"
                                        [stroke]="chartOptions.stroke"></apx-chart>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex" *ngIf="rdv && rdv.length > 0">
                    <div class="card dash-cards w-100">
                        <div class="card-header">
                            <h4>Rendez-vous</h4>
                            <div class="card-dropdown">
                                <ul>
                                    <li class="nav-item dropdown has-arrow logged-item">
                                        <a href="#" class="dropdown-toggle pageviews-link" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <span>Tout</span>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            <a class="dropdown-item" href="javascript:void(0)">Semaine passee</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Cette senaine</a>
                                            <a class="dropdown-item" href="javascript:void(0)">Semaine prochaine</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ligne">
                            <div class="card-body">
                                <ul class="review-list">
                                    <li class="review-box" *ngFor="let Rdv of rdv">
                                        <div class="review-profile">
                                            <div class="review-img">
                                                <img src="{{generateImageUrl(Rdv.utilisateur.photo)}}" class="img-fluid"
                                                    alt="img" (error)="handleAuthorImageError($event)">
                                            </div>
                                        </div>
                                        <div class="review-details">
                                            <h6>{{Rdv.utilisateur.nom}}</h6>
                                            <div class="rating">
                                                <div class="rating-star">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                </div>
                                                <div><i class="fa-sharp fa-solid fa-calendar-days"></i> {{Rdv.date |
                                                    date:"dd MMM yyyy":locale}}</div>
                                                <div>{{Rdv.heure}}</div>
                                            </div>
                                            <!-- <p>{{data.feedback}}</p>																	 -->
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Dashboard Content -->