.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination__container {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .pagination__page {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination__page--active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination__page--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .pagination__previous,
  .pagination__next {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination__previous:hover,
  .pagination__next:hover,
  .pagination__page:hover {
    background-color: #f0f0f0;
  }
  

  .custom-tab-link {
    font-weight: 600;
    color: #333; /* Couleur du texte non sélectionné */
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    padding: 10px 15px;
    transition: background-color 0.3s, border-bottom 0.3s;
}

.custom-tab-link.active,
.custom-tab-link:hover {
    color: #fff; /* Couleur du texte sélectionné */
    border-radius: 10px;
    background-color: #e98b11; /* Couleur de l'onglet sélectionné */
    border-bottom-color: #fff; /* Couleur de la bordure du bas de l'onglet sélectionné */
}

.nav {
  background-color: #293d4a; /* Couleur de fond de la barre de navigation */
  padding: 10px 0;
  border-bottom: 2px solid #1b2b34; /* Bordure inférieure */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border-radius: 6px;

}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  font-weight: 500;
  color: #fff; /* Couleur du texte non sélectionné */
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-link.active,
.nav-link:hover {
  color: #fff; /* Couleur du texte sélectionné et en survol */
  background-color: #e98b11; /* Couleur de fond en survol */
}

.nav-justified {
  justify-content: space-between;
}

.review-gallery li {
  margin-right: 10px; /* Ajustez la valeur selon votre préférence */
}

.ligne{
  overflow-y: scroll; 
  height: 390px;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
      display: none;
  }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100%; /*Ajustez cette valeur selon vos besoins */
    overflow: hidden; /* Pour éviter le débordement */
}

.avatar-img {
    width: 100%; /* Pour que l'image occupe toute la largeur du conteneur */
    height: auto; /* Pour conserver les proportions de l'image */
}


.ligne{
  overflow-y: scroll; 
  height: 390px;
  --overflow: hidden;
  overflow: auto;

  &::-webkit-scrollbar {
      display: none;
  }
}