<!--Inner Banner-->
<div class="contactbanner innerbanner">
  <div class="inner-breadcrumb">
    <div class="container">
      <div class="row align-items-center text-center">
        <div class="col-md-12 col-12">
          <h2 class="breadcrumb-title">Contacter nous</h2>
          <nav aria-label="breadcrumb" class="page-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="routes.home9">Accueil</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Contact
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/Inner Banner-->

<!--contact Information-->
<div class="contactus-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 contactus-img col-md-12">
        <div class="contactleft-info">
          <img style="height: 520px;" src="assets/img/banner/maison.jpg" class="img-fluid" alt="" />
          <div class="contactinfo-content">
            <div class="contact-hours">
              <h6>Heures</h6>
              <ul>
                <li>Lundi au Vendredi : 09h - 21h </li>
                <!-- <li>Monday: 10:30am - 3pm Closed on Sunday</li> -->
              </ul>
            </div>
            <div class="contact-hours">
              <h6>Contactez-nous</h6>
              <ul>
                <li>Hamdallaye ACI 2000</li>
                <li>Tel : +223 67 16 77 77</li>
                <li>Email : contact@sossara.ml</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 contactright-map col-md-12">
        <div class="google-maps">
          <div id="map" style="height: 520px; width: 600px;"></div>
          <!-- <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3968.9504405186183!2d-7.998184000000001!3d12.639231999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTPCsDA3JzA5LjQiTiA38JnEzYzQ4Ny44Ilc!5e0!3m2!1sen!2sus!4v1670922579281!5m2!1sen!2sin"
            width="600" height="544" style="border: 0" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--/contact Information-->

<!--contact Form-->
<section class="contactusform-section">
  <div class="container">
    <div class="contact-info">
      <h2>Contacter <span>Nous</span></h2>
      <p>Nous sommes la pour vous aider</p>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-5">
        <div class="contactform-img">
          <img src="assets/img/contactleftimg.png" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-lg-7 col-md-7">
        <div class="contactus-form">
          <form class="">
            <div class="form-group">
              <input type="text" [(ngModel)]="form.nom" class="form-control" placeholder="Nom" name="nom" />
            </div>
            <div class="form-group me-0">
              <input type="email" [(ngModel)]="form.email" class="form-control" name="email" placeholder="email" />
            </div>
            <div class="form-group"> 
              <input type="text" [(ngModel)]="form.object" class="form-control" name="object" placeholder="Objet" />
            </div>
            <div class="form-group">
              <textarea rows="4" [(ngModel)]="form.description" class="form-control" placeholder="Description*" name="description" required></textarea>
            </div>
            <div class="submit-section">
              <button (click)="SendEmail()" class="btn btn-primary submit-btn" type="submit" [disabled]="loading">
                <span *ngIf="!loading">Envoyer</span>
                <span *ngIf="loading">Chargement...</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/contact Form-->
<!-- <div class="row">
  <div class="col-lg-12">
    <app-map></app-map>
  </div>
</div> -->