.image-size {
    width: 100%; /* Remplacez cette valeur par la taille souhaitée */
    height: 180px; /* Remplacez cette valeur par la taille souhaitée */
}

.image-sizeresents {
    width: 100%; /* Remplacez cette valeur par la taille souhaitée */
    height: 200px; /* Remplacez cette valeur par la taille souhaitée */
  }