<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">La liste des Blogs</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home9">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Blog List -->
<div class="bloglist-section bloggrid-sidebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6 col-md-6 d-lg-flex" *ngFor="let slide of  gridBlog | filter:searchText">
                        <div class="blog grid-blog">
                            <div class="blog-image">
                                <a (click)="goToDettailBlog(slide.id)"><img class="img-fluid image-size crd" [src]="slide.img2"
                                        alt="Post Image"></a>
                            </div>
                            <div class="blog-content">
                                <p class="blog-category">
                                    <a href="javascript:void(0)"><span>{{slide.category1}}</span></a><a
                                        href="javascript:void(0)"><span>{{slide.category2}}</span></a>
                                </p>
                                <ul class="entry-meta meta-item">
                                    <li>
                                        <div class="post-author">
                                            <div class="post-author-img">
                                                <img [src]="slide.img1" alt="author">
                                            </div>
                                            <a href="javascript:void(0)"> <span> {{slide.name}} </span></a>
                                        </div>
                                    </li>
                                    <li class="date-icon"><i class="fa-solid fa-calendar-days"></i> {{slide.date}}</li>
                                </ul>
                                <h3 class="blog-title"><a (click)="goToDettailBlog(slide.id)">{{slide.content}}</a></h3>
                                <p class="blog-description">{{slide. description}} </p>
                                <div class="viewlink"><a (click)="goToDettailBlog(slide.id)">Voir plus <i
                                            class="feather-arrow-right"></i></a></div>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Pagination-->
                <!-- <div class="blog-pagination">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item previtem">
                                <a class="page-link" href="javascript:void(0)"><i
                                        class="fas fa-regular fa-arrow-left"></i> Prec</a>
                            </li>
                            <li class="justify-content-center pagination-center">
                                <div class="pagelink">
                                    <ul>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">1</a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="javascript:void(0)">2 <span
                                                    class="visually-hidden">(current)</span></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">...</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="javascript:void(0)">14</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="page-item nextlink">
                                <a class="page-link" href="javascript:void(0)">Suiv <i
                                        class="fas fa-regular fa-arrow-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> -->
                <!--/Pagination-->

            </div>
            <div class="col-lg-4 theiaStickySidebar">
                <div class="stickybar">
                    <div class="rightsidebar">
                        <div class="card">
                            <!--<h4 class="feather-tagf" style="min-width: 90px;background-color: #374B5C;
                            border: 1px solid #374B5C; color: white;display: flex;align-items: center;">
                                <a class="nav-link header-login add-listing" [routerLink]="routes.addlisting"><i
                                        class="fa-solid fa-plus"></i>
                                    Ajouter un blog</a>
                            </h4>-->
                            <!--<h4><i class="feather-tag"></i> Articles</h4>-->
                            <h4><img style="width: 27px;" src="assets/img/details-icon.svg" alt="details-icon"> Filtrer
                            </h4>
                            <div class="filter-content looking-input form-group mb-0">
                                <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Rechercher" >
                            </div>
                        </div>
                        <!--<div class="card">
                            <h4><img src="assets/img/category-icon.svg" alt="details-icon"> Categories</h4>
                            <ul class="blogcategories-list">
                                <li><a href="javascript:void(0)">Accept Credit Cards</a></li>
                                <li><a href="javascript:void(0)">Smoking Allowed</a></li>
                                <li><a href="javascript:void(0)">Bike Parking</a></li>
                                <li><a href="javascript:void(0)">Street Parking</a></li>
                                <li><a href="javascript:void(0)">Wireless Internet</a></li>
                                <li><a href="javascript:void(0)">Pet Friendly</a></li>
                            </ul>
                        </div>
                        <div class="card tags-widget">
                            <h4><i class="feather-tag"></i> Tags</h4>
                            <ul class="tags">
                                <li>Travelling </li>
                                <li>Art </li>
                                <li>Vacation </li>
                                <li>Tourism </li>
                                <li>Culture </li>
                                <li>Lifestyle </li>
                                <li>Travelling </li>
                                <li>Art </li>
                                <li>vacation </li>
                                <li>Tourism </li>
                                <li>Culture </li>
                            </ul>
                        </div>-->
                        <div class="card">
                            <h4><i class="feather-tag"></i> Biens recents</h4>
                            <div class="article" *ngFor="let BienImo of bienImmo">
                                <a (click)="goToDettailBien(BienImo.id)" class="articleimg-1 crd" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url({{generateImageUrl(BienImo.photos[0].nom)}})">
                                    <ul>
                                        <li>
                                            <h6>{{ BienImo.nom ? BienImo.nom : BienImo.typeImmo.nom }}</h6>
                                        </li>
                                        <li class="date-icon"><i class="fa-solid fa-calendar-days"></i> {{BienImo.createdAt.date | date:"dd/MM/yyyy"}}
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <!-- <div class="article">
                                <a [routerLink]="routes.blogdetails" class="articleimg-2">
                                    <ul>
                                        <li>
                                            <h6>Nom bien</h6>
                                        </li>
                                        <li class="date-icon"><i class="fa-solid fa-calendar-days"></i> 25 Juillet 2023
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <div class="article">
                                <a [routerLink]="routes.blogdetails" class="articleimg-3">
                                    <ul>
                                        <li>
                                            <h6>Nom bien</h6>
                                        </li>
                                        <li class="date-icon"><i class="fa-solid fa-calendar-days"></i> 25 Juillet 2023
                                        </li>
                                    </ul>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /Blog List -->