<!-- Login Section -->
<div class="login-content tts " [ngClass]="{ 'sombre': sendRegister }" style="margin-top: 100px;">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-9 col-lg-9 mx-auto">
        <div class="login-wrap register-form">
          <div class="login-header">
            <h3 style="font-size: 27px;">Inscription - Créez votre compte</h3>
            <p>Devenez membre pour accéder à notre plateforme <span>Sossara</span></p>
          </div>

          <!-- Signup Form -->
          <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" name="form">

            <div class="row">
              <div class="col-md-6 form-group group-img">
                <div class="group-img" id="datepicker">
                  <i class="feather-user"></i>
                  <input maxlength="50" placeholder="Prenom et Nom" name="nom" type="text" class="form-control"
                    [(ngModel)]="form.nom" required [ngClass]="{'is-invalid': form.nom && !islongNom(form.nom)}" />
                </div>
                <div *ngIf="form.nom && !islongNom(form.nom)" class="invalid-feedback" style="display:block;">
                  Le nom complet ne doit pas dépasser 50 caractères et ne doit contenir que des lettres. </div>
              </div>
              <div class="col-md-6 form-group group-img">
                <div class="group-img">
                  <i class="feather-mail"></i>
                  <input type="email" placeholder="Adresse Email" name="email" required class="form-control"
                    [(ngModel)]="form.email" [ngClass]="{'is-invalid': form.email && !validateEmail(form.email)}" />
                </div>
                <div *ngIf="form.email && !validateEmail(form.email)" class="invalid-feedback" style="display:block;">
                  Votre adresse email n'est pas valide.
                </div>
              </div>

              <div class="col-md-6 form-group group-img">
                <div class="group-img">
                  <i class="feather-phone"></i>
                  <input [(ngModel)]="form.telephone" type="text" maxlength="8" name="telephone" class="form-control"
                    placeholder="Numero de Telephone"
                    [ngClass]="{'is-invalid': form.telephone && !islongNumero(form.telephone)}" />
                </div>
                <div *ngIf="form.telephone && !islongNumero(form.telephone)" class="invalid-feedback"
                  style="display:block;">
                  Le numero de telephone doit etre exactement 8 chiffres.
                </div>
              </div>
              <div class="col-md-6 form-group group-img">
                <div class="group-img">
                  <i class="feather-calendar"></i>
                  <input [(ngModel)]="form.dateNaissance" type="date" name="dateNaissance" class="form-control"
                    placeholder="Date de Naissance" [max]="getMaximumDate()" />
                </div>
              </div>
              <div class="col-md-6 form-group">
                <div class="pass-group group-img">
                  <i class="feather-lock"></i>
                  <input type="password" [(ngModel)]="form.password" name="password"
                    [type]="Toggledata ? 'password' : 'text'" class="form-control pass-input" placeholder="Mot de passe"
                    [ngClass]="{'is-invalid': form.password && !validatePassword(form.password)}" />
                  <span [ngClass]="
                      Toggledata == true
                        ? 'toggle-password feather-eye-off' 
                        : 'toggle-password feather-eye'
                    " (click)="iconLogle()"></span>
                </div>
                <!-- <div *ngIf="form.password && !validatePassword(form.password)" class="invalid-feedback"
                  style="display:block;">
                  Votre mot de passe doit avoir 8 caractères avec une majuscule, une minuscule, un chiffre et un
                  symbole.
                </div> -->
                <div *ngIf="form.password && !validatePassword(form.password)" class="invalid-feedback"
                  style="display:block;">
                  Votre mot de passe doit respecter les critères suivants :
                  <ul class="list-group" style="margin-left: 30px;">
                    <li *ngIf="form.password && !form.password.match(uppercaseRegex)">Au moins une majuscule</li>
                    <li *ngIf="form.password && !form.password.match(lowercaseRegex)">Au moins une minuscule</li>
                    <li *ngIf="form.password && !form.password.match(digitRegex)">Au moins un chiffre</li>
                    <li *ngIf="form.password && !form.password.match(specialCharacterRegex)">Au moins un caractère
                      spécial</li>
                      <li *ngIf="form.password && form.password.length < 8">Au moins 8 caractères</li>
                  </ul>
                </div>
              </div>

              <div class="col-md-6 form-group">
                <div class="pass-group group-img">
                  <i class="feather-lock"></i>
                  <input type="password" name="confirmPassword" [type]="ToggledataC ? 'password' : 'text'"
                    class="form-control pass-input" [(ngModel)]="form.confirmPassword"
                    placeholder="Confirmer Mot de passe"
                    [ngClass]="{'is-invalid': form.confirmPassword && !passwordsMatch()}" />
                  <span [ngClass]="
                      ToggledataC == true
                        ? 'toggle-password feather-eye-off'
                        : 'toggle-password feather-eye'
                    " (click)="iconLogleC()"></span>
                </div>
                <div *ngIf="form.confirmPassword && !passwordsMatch()" class="invalid-feedback" style="display:block;">
                  Les mots de passe ne correspondent pas.
                </div>
              </div>

              <div class="col-md-6 form-group group-img">
                <div class="group-img">


                  <mat-form-field class="mat-custom-select" style="width: 100%">
                    <mat-label *ngIf="selectedCategory == ''">
                      Choisissez un type d'utilisateur</mat-label>
                    <mat-select (selectionChange)="onChange($event)" [(ngModel)]="form.role" name="role">
                      <mat-option *ngFor="let item of typeUser" [value]="item.value">
                        {{ item?.nom }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-6 form-group group-img" *ngIf="currentUser === 'agence'">
                <div class="group-img" id="datepicker">
                  <i class="feather-user"></i>
                  <input maxlength="50" placeholder="Nom de l'agence" name="nomAgence" type="text" class="form-control"
                    [(ngModel)]="form.nomAgence"
                    [ngClass]="{'is-invalid': form.nomAgence && !islongNomAgence(form.nomAgence)}" />
                </div>
                <div *ngIf="form.nomAgence && !islongNomAgence(form.nomAgence)" class="invalid-feedback"
                  style="display:block;">
                  Le nom de l'agence ne doit pas dépasser 50 caractères.
                </div>
              </div>
              <div class="col-md-6 form-group group-img" *ngIf="currentUser === 'agence'">
                <div class="group-img">
                  <i class="feather-mail"></i>
                  <input type="email" placeholder="Email Agence" name="emailAgence" class="form-control"
                    [(ngModel)]="form.emailAgence"
                    [ngClass]="{'is-invalid': form.email && !validateEmail(form.emailAgence)}" />
                </div>
                <div *ngIf="form.emailAgence && !validateEmail(form.emailAgence)" class="invalid-feedback"
                  style="display:block;">
                  Votre adresse email n'est pas valide.
                </div>
              </div>
              <div class="col-md-6 form-group group-img" *ngIf="currentUser != 'Utilisateur'">
                <div class="group-img">

                  <mat-form-field class="mat-custom-select" style="width: 100%">
                    <mat-label *ngIf="selectedCategory == ''">
                      Type de piece</mat-label>
                    <mat-select (selectionChange)="onTypePiecesChange($event)" [(ngModel)]="form.nomDoc" name="nomDoc">
                      <mat-option *ngFor="let item of typePieces" [value]="item">
                        {{ item }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- Debut Visiteur et proprietaire -->
            <div class="row" *ngIf="selectedTypePiece === 'NINA'">
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="group-img">
                    <i class="feather-user"></i>
                    <input type="text" [(ngModel)]="form.numDoc" name="numDoc" class="form-control"
                      placeholder="N du NINA" [ngClass]="{'is-invalid': form.numDoc && !isValidNumDocNina(form.numDoc)}"
                      maxlength="15" />
                    <div *ngIf="form.numDoc && !isValidNumDocNina(form.numDoc)" class="invalid-feedback"
                      style="display:block;">
                      Le NINA doit contenir exactement 14 chiffres suivis d'une lettre majuscule.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="settings-upload-btn" style="margin-left: auto;">
                    <input type="file" id="photo" name="photo" [disabled]="maxImageCount >=1"
                      (change)="onFileSelected1($event)" class="hide-input image-upload" [disabled]="isButtonDisabled"
                      accept=".png, .jpeg, .jpg, application/pdf" />
                    <label for="file" class="file-upload" style="font-size: 14px;">Image carte</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <div *ngFor="let imageUrl of image; let i = index" class="image-container m-1">
                    <img class="m-1" [src]="imageUrl" alt="Image {{ i }}" />
                    <button class="close-button" (click)="removeImage(i)">
                      <i class="fas fa-times close-icon"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="selectedTypePiece === 'CarteIN'">
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="group-img">
                    <i class="feather-user"></i>
                    <input type="text" [(ngModel)]="form.numDoc" name="numDoc" class="form-control pass-input"
                      placeholder="N de la carte" #numDoc="ngModel"
                      [ngClass]="{'is-invalid': form.numDoc && !isValidNumDoc(form.numDoc)}" maxlength="7" />
                    <div *ngIf="form.numDoc && !isValidNumDoc(form.numDoc)" class="invalid-feedback"
                      style="display:block;">
                      Le numéro de la carte d'identité doit contenir exactement 7 chiffres.
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="settings-upload-btn" style="margin-left: auto;">
                    <input type="file" id="photo" name="photo" [disabled]="maxImageCount >=1"
                      (change)="onFileSelected1($event)" class="hide-input image-upload" [disabled]="isButtonDisabled"
                      accept=".png, .jpeg, .jpg, application/pdf" />
                    <label for="file" class="file-upload" style="font-size: 14px;">Image carte</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6"></div>
                <div class="col text-center">
                  <div *ngFor="let imageUrl of image; let i = index" class="image-container m-1">
                    <img class="m-1" [src]="imageUrl" alt="Image {{ i }}" />
                    <button class="close-button" (click)="removeImage(i)">
                      <i class="fas fa-times close-icon"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="selectedTypePiece === 'Passport'">
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="group-img">
                    <i class="feather-user"></i>
                    <input type="text" [(ngModel)]="form.numDoc" name="numDoc" class="form-control"
                      placeholder="N du Passport"
                      [ngClass]="{'is-invalid': form.numDoc && !isValidMalianPassport(form.numDoc)}" maxlength="9" />
                    <div *ngIf="form.numDoc && !isValidMalianPassport(form.numDoc)" class="invalid-feedback"
                      style="display:block;">
                      Le numéro du passeport doit commencer par 2 lettres majuscules suivie de 7 chiffres.
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="settings-upload-btn" style="margin-left: auto;">
                    <input type="file" id="photo" name="photo" [disabled]="maxImageCount >=1"
                      (change)="onFileSelected1($event)" class="hide-input image-upload" [disabled]="isButtonDisabled"
                      accept=".png, .jpeg, .jpg, application/pdf" />
                    <label for="file" class="file-upload" style="font-size: 11px;">Image Passport</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6"></div>
                <div class="col text-center">
                  <div *ngFor="let imageUrl of image; let i = index" class="image-container m-1">
                    <img class="m-1" [src]="imageUrl" alt="Image {{ i }}" />
                    <button class="close-button" (click)="removeImage(i)">
                      <i class="fas fa-times close-icon"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <!-- Fin Visiteur et proprietaire -->

            <!-- Debut Agence -->
            <div class="row" *ngIf="selectedTypePiece === 'RCCM'">
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="group-img">
                    <i class="feather-user"></i>
                    <input type="text" [(ngModel)]="form.numDoc" name="numDoc" class="form-control"
                      placeholder="N du RCCM" [ngClass]="{'is-invalid': form.numDoc && !isValidRccm(form.numDoc)}"
                      maxlength="15" />
                    <div *ngIf="form.numDoc && !isValidRccm(form.numDoc)" class="invalid-feedback"
                      style="display:block;">
                      Le numéro RCCM doit contenir exactement 15 caractères alphanumériques.
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="settings-upload-btn" style="margin-left: auto;">
                    <input type="file" id="photo" name="photo" [disabled]="maxImageCount >=1"
                      (change)="onFileSelected1($event)" class="hide-input image-upload" [disabled]="isButtonDisabled"
                      accept=".png, .jpeg, .jpg, application/pdf" />
                    <label for="file" class="file-upload" style="font-size: 11px;">Image du RCCM</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6"></div>
                <div class="col text-center">
                  <div *ngFor="let imageUrl of image; let i = index" class="image-container m-1">
                    <img class="m-1" [src]="imageUrl" alt="Image {{ i }}" />
                    <button class="close-button" (click)="removeImage(i)">
                      <i class="fas fa-times close-icon"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
            <div class="row" *ngIf="selectedTypePiece === 'NIF'">
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="group-img">
                    <i class="feather-user"></i>
                    <input type="text" [(ngModel)]="form.numDoc" name="numDoc" class="form-control"
                      placeholder="N du NIF" [ngClass]="{'is-invalid': form.numDoc && !isValidNif(form.numDoc)}"
                      maxlength="10" />
                    <div *ngIf="form.numDoc && !isValidNif(form.numDoc)" class="invalid-feedback"
                      style="display:block;">
                      Le NIF doit contenir exactement 9 chiffres suivis d'une lettre majuscule.
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group group-img">
                  <div class="settings-upload-btn" style="margin-left: auto;">
                    <input type="file" id="photo" name="photo" [disabled]="maxImageCount >=1"
                      (change)="onFileSelected1($event)" class="hide-input image-upload" [disabled]="isButtonDisabled"
                      accept=".png, .jpeg, .jpg, application/pdf" />
                    <label for="file" class="file-upload" style="font-size: 11px;">Image du NIF</label>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-6"></div>
                <div class="col text-center">
                  <div *ngFor="let imageUrl of image; let i = index" class="image-container mb-1">
                    <img class="" [src]="imageUrl" alt="Image {{ i }}" />
                    <button class="close-button" (click)="removeImage(i)">
                      <i class="fas fa-times close-icon"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>

            <!-- Fin Mot de passe et confirmation -->

            <div *ngIf="isSignUpFailed" class="alert alert-danger" role="">
              {{ errorMessage }}
            </div>
            <button class="btn btn-primary w-100 login-btn" type="submit"
               [disabled]="!validatePassword(form.password) || !passwordsMatch() || 
             !(form.telephone.length === 8) || (form.nom.length===50) || 
              !validateEmail(form.email) || (!isValidNif(form.numDoc) && !isValidRccm(form.numDoc) &&
               !isValidMalianPassport(form.numDoc) && !isValidNumDoc(form.numDoc)  && !isValidNumDocNina(form.numDoc)) || sendRegister">
              <ng-container *ngIf="!sendRegister">Créer un compte</ng-container>
              <ng-container *ngIf="sendRegister">
                <div class="spinner-border" style="color: #374b5c;font-size: 13px;" role="status">
                  <span class="sr-only">Chargement en cours...</span>
                </div>
              </ng-container>
            </button>

            <!-- <button style="padding: 2px 34px;" type="button" (click)="AjouterAgent()" class="btn btn-primary"
              [disabled]="sendRegister">
              <ng-container *ngIf="!sendRegister">Ajouter</ng-container>
              <ng-container *ngIf="sendRegister">
                <div class="spinner-border" style="color: #374b5c;font-size: 13px;" role="status">
                  <span class="sr-only">Chargement en cours...</span>
                </div>
              </ng-container>
            </button> -->

            <div class="register-link text-center">
              <p>
                Vous avez déjà un compte?
                <a class="forgot-link" [routerLink]="routes.login">S'identifier</a>
              </p>
            </div>

          </form>
          <!-- /Signup Form -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Login Section -->
<script>
  function formatInputWithSeparators(input) {
    // Supprimer les caractères non numériques
    let numericValue = input.value.replace(/\D/g, '');

    // Formater avec des séparateurs
    let formattedValue = numericValue
      .split('')
      .map((char, index) => (index > 0 && index % 1 === 0 ? ' . ' : '') + char)
      .join('');

    input.value = formattedValue;
  }
</script>