.ligne {
    overflow-y: scroll;
    height: 450px;
    --overflow: hidden;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

/* Style de la liste des avis */
.review-list {
    list-style: none;
    padding: 0;
}

/* Style de chaque élément d'avis */
.review-box {
    display: flex;
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style de l'image de profil */
.review-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

/* Style des détails de l'avis */
.review-details {
    flex-grow: 1;
}

/* Style du nom de l'auteur */
.review-details h6 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

/* Style de l'icône d'évaluation */
.rating {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #f2b600;
}

/* Style des étoiles d'évaluation */
.rating-star {
    font-size: 20px;
    margin-right: 5px;
}

/* Style de l'icône de la date et de l'heure */
.rating i {
    margin-right: 5px;
}

/* Style de la date */
.rating-date {
    font-size: 14px;
    color: #777;
}

/* Style de l'heure */
.rating-time {
    font-size: 14px;
    color: #777;
}

/* CSS FACTURE  */
.text-danger strong {
    color: #e98b11;
}

.receipt-main {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 12px solid #e98b11;
    border-top: 12px solid #e98b11;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #acacac;
    color: #e98b11;
    font-family: open sans;
}

.receipt-main p {
    color: #333333;
    font-family: open sans;
    line-height: 1.42857;
}

.receipt-footer h1 {
    font-size: 15px;
    font-weight: 400 !important;
    margin: 0 !important;
}

.receipt-main::after {
    background: #374b5c none repeat scroll 0 0;
    content: "";
    height: 5px;
    left: 0;
    position: absolute;
    right: 0;
    top: -13px;
}

.receipt-main thead {
    background: #e98b11 none repeat scroll 0 0;
}

.receipt-main thead th {
    color: #fff;
}

.receipt-right h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 7px 0;
}

.receipt-right p {
    font-size: 12px;
    margin: 0px;
}

.receipt-right p i {
    text-align: center;
    width: 18px;
}

.receipt-main td {
    padding: 9px 20px !important;
}

.receipt-main th {
    padding: 13px 20px !important;
}

.receipt-main td {
    font-size: 13px;
    font-weight: initial !important;
}

.receipt-main td p:last-child {
    margin: 0;
    padding: 0;
}

.receipt-main td h2 {
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
}

.receipt-header-mid .receipt-left h1 {
    font-weight: 100;
    margin: 34px 0 0;
    text-align: right;
    text-transform: uppercase;
}

.receipt-header-mid {
    margin: 24px 0;
    overflow: hidden;
}

#container {
    background-color: #dcdcdc;
}

/* Ajuster la position du modal par rapport à la barre de navigation */
.modal-dialog {
    margin-top: 90px;
    /* Ajustez cette valeur en fonction de la hauteur de votre barre de navigation */
}