<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">notifications</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home9">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">notifications</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Reviews Content -->
<div class="dashboard-content">
    <div class="container">
        <div class="">
            <ul class="dashborad-menus">
                <li>
                    <a [routerLink]="routes.dashboard">
                        <i class="feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.profile">
                        <i class="fa-solid fa-user"></i> <span>Profil</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.mylisting">
                        <i class="feather-list"></i> <span>Mes biens</span>
                    </a>
                </li>
                <!--<li>
                    <a [routerLink]="routes.bookmarks">
                        <i class="fas fa-solid fa-heart"></i> <span>Bookmarks</span>
                    </a>
                </li>-->
                <li>
                    <a [routerLink]="routes.messages">
                        <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
                    </a>
                </li>
                <li class="active">
                    <a [routerLink]="routes.reviews">
                        <i class="fas fa-solid fa-star"></i> <span>notifications</span>
                    </a>
                </li>
                <li class="crd">
                    <a (click)="logout()">
                        <i class="fas fa-light fa-circle-arrow-left"></i> <span>Deconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row dashboard-info reviewpage-content">
            <div class="col-lg-6 d-flex" *ngIf="candidature && candidature.length > 0">
                <div class="card dash-cards">
                    <div class="card-header">
                        <h4>Les candidatures</h4>
                        <div class="card-dropdown">
                            <ul>
                                <li class="nav-item dropdown has-arrow logged-item">
                                    <a href="#" class="dropdown-toggle pageviews-link" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span>Tout</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0)">Semaine passee</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Cette senaine</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Semaine prochaine</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="card-body">
                            <ul class="review-list">
                                <li class="review-box" *ngFor="let Candidature of candidature">

                                    <div class="review-profile">
                                        <div class="review-img">
                                            <img src="{{generateImageUrl(Candidature.utilisateur.photo)}}"
                                                class="img-fluid" alt="img" (error)="handleAuthorImageError($event)">
                                        </div>
                                    </div>
                                    <div class="review-details">
                                        <h6>{{Candidature.utilisateur.nom}}</h6>
                                        <div class="rating">
                                            <div class="rating-star">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                            <div><i class="fa-sharp fa-solid fa-calendar-days"></i>
                                                {{Candidature.createdAt.date |
                                                date:"dd/MM/yyyy"}}</div>
                                            <div><i class="fa-sharp fa-solid fa-clock"></i>{{Candidature.createdAt.date
                                                |
                                                date:"HH:mm"}}</div>
                                        </div>
                                        <div class="row mb-3">
                                            {{Candidature.bien.nom}}
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="blog-category">
                                                    <a
                                                        href="javascript:void(0)"><span>{{Candidature.bien.statut}}</span></a>
                                                </p>
                                            </div>
                                            <div class="col">
                                                <p style="color: #e98b11; font-weight: bold;">{{
                                                    formatPrice(Candidature.bien.prix) }} FCFA</p>
                                            </div>

                                        </div>

                                        <ul class="review-gallery">
                                            <li
                                                *ngFor="let photo of Candidature.bien.photos.slice(0, 4); let i = index">
                                                <img class="img-fluid" alt="Image" [src]="generateImageUrl(photo.nom)">
                                            </li>
                                            <ng-container *ngIf="Candidature.bien.photos.length === 0">
                                                <li *ngFor="let _ of [1, 2, 3, 4]">
                                                    <!-- Répéter 4 fois -->
                                                    <img class="img-fluid" alt="Image par défaut"
                                                        src="assets/img/gallery/gallery1/gallery-1.jpg">
                                                </li>
                                            </ng-container>
                                        </ul>
                                        <div class="row mt-3">
                                            <div class="col">
                                                <button (click)="AnnulerCandidaterBien(Candidature.id)" type="button"
                                                    class="btn btn-outline-danger"><i class="fas fa-times"></i>
                                                    Annuler</button>
                                            </div>
                                            <div class="col">
                                                <button (click)="AccepterCandidaterBien(Candidature.id)" type="button"
                                                    class="btn btn-outline-success"><i class="fas fa-check"></i>
                                                    Valider</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex"
                *ngIf="bienImmoLoueCandidatureAccepter && bienImmoLoueCandidatureAccepter.length > 0">
                <div class="card dash-cards">
                    <div class="card-header">
                        <h4>Les candidatures acceptees</h4>
                        <div class="card-dropdown">
                            <ul>
                                <li class="nav-item dropdown has-arrow logged-item">
                                    <a href="#" class="dropdown-toggle pageviews-link" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span>Tout</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="javascript:void(0)">Semaine passee</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Cette senaine</a>
                                        <a class="dropdown-item" href="javascript:void(0)">Semaine prochaine</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ligne">
                        <div class="card-body">
                            <ul class="review-list">
                                <li class="review-box" *ngFor="let Candidature of bienImmoLoueCandidatureAccepter">

                                    <div class="review-profile">
                                        <div class="review-img">
                                            <img src="{{generateImageUrl(Candidature.bien.utilisateur.photo)}}"
                                                class="img-fluid" alt="img" (error)="handleAuthorImageError($event)">
                                        </div>
                                    </div>
                                    <div class="review-details">
                                        <h6>{{Candidature.bien.utilisateur.nom}}</h6>
                                        <div class="rating">
                                            <div class="rating-star">
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                                <i class="fas fa-star filled"></i>
                                            </div>
                                            <div><i class="fa-sharp fa-solid fa-calendar-days"></i>
                                                {{Candidature.createdAt.date |
                                                date:"dd/MM/yyyy"}}</div>
                                            <div><i class="fa-sharp fa-solid fa-clock"></i>{{Candidature.createdAt.date
                                                |
                                                date:"HH:mm"}}</div>
                                        </div>
                                        <div class="row mb-3">
                                            {{Candidature.bien.nom}}
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <p class="blog-category"> 
                                                    <a href="javascript:void(0)"><span>{{Candidature.bien.statut}}</span></a>
                                                </p>
                                            </div>
                                            <div class="col">
                                                <p style="color: #e98b11; font-weight: bold;">{{
                                                    formatPrice(Candidature.bien.prix) }} FCFA</p>
                                            </div>

                                        </div>

                                        <ul class="review-gallery">
                                            <li
                                                *ngFor="let photo of Candidature.bien.photos.slice(0, 4); let i = index">
                                                <img class="img-fluid" alt="Image" [src]="generateImageUrl(photo.nom)">
                                            </li>
                                            <ng-container *ngIf="Candidature.bien.photos.length === 0">
                                                <li *ngFor="let _ of [1, 2, 3, 4]">
                                                    <!-- Répéter 4 fois -->
                                                    <img class="img-fluid" alt="Image par défaut"
                                                        src="assets/img/gallery/gallery1/gallery-1.jpg">
                                                </li>
                                            </ng-container>
                                        </ul>
                                        <div class="row mt-3">
                                            <!-- <div class="col">
                                                <button (click)="AnnulerCandidaterBien(Candidature.id)" type="button"
                                                    class="btn btn-outline-danger"><i class="fas fa-times"></i>
                                                    Annuler</button>
                                            </div> -->
                                            <!-- <div class="col">
                                                <button data-bs-toggle="modal"
                                                    (click)="openFactureModal(Candidature.id)"
                                                    data-bs-target="#exampleModalToggle2" type="button"
                                                    class="btn btn-outline-success"><i class="fas fa-check"></i>
                                                    Payer</button>
                                            </div> -->
                                            <!-- Button trigger modal -->
                                            <button (click)="openFactureModal(Candidature.id)" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                Payer
                                            </button>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Paiement</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="paymentCont">
                                                                    <div class="headingWrap">
                                                                        <h3 class="headingTop text-center">Selectionner le mode de paiement</h3>
                                                                        <!-- <p class="text-center">Created with bootsrap
                                                                            button and using radio button</p> -->
                                                                    </div>
                                                                    <div class="row paymentWrap">
                                                                        <div class="btn-group paymentBtnGroup btn-group-justified"
                                                                            data-toggle="buttons">
                                                                            <label class="btn paymentMethod">
                                                                                <div class="method visa"></div>
                                                                                <input type="radio" name="options"
                                                                                    checked>
                                                                            </label>
                                                                            <label class="btn paymentMethod">
                                                                                <div class="method master-card"></div>
                                                                                <input type="radio" name="options">
                                                                            </label>
                                                                            <!-- <label class="btn paymentMethod">
                                                                                <div class="method amex"></div>
                                                                                <input type="radio" name="options">
                                                                            </label> -->
                                                                            <label class="btn paymentMethod">
                                                                                <div class="method vishwa"></div>
                                                                                <input type="radio" name="options">
                                                                            </label>
                                                                            <!-- <label class="btn paymentMethod">
                                                                                <div class="method ez-cash"></div>
                                                                                <input type="radio" name="options">
                                                                            </label> -->

                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="footerNavWrap clearfix">
                                                                        <div class="btn btn-success pull-left btn-fyi">
                                                                            <span
                                                                                class="glyphicon glyphicon-chevron-left"></span>
                                                                            CONTINUE SHOPPING</div>
                                                                        <div class="btn btn-success pull-right btn-fyi">
                                                                            CHECKOUT<span
                                                                                class="glyphicon glyphicon-chevron-right"></span>
                                                                        </div>
                                                                    </div> -->
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Retour</button>
                                                        <button type="button" class="btn btn-primary">Save
                                                            changes</button>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Reviews Content -->