<div class="mainwrapper error-page">
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="error-wrap">
            <div class="error-logo">
              <!--<a [routerLink]="routes.home9"><img class="img-fluid" src="assets/img/logo.svg" alt="img" /></a>-->
              <a [routerLink]="routes.home9" class="img-fluid" style="color: #e98b11; font-weight: bold; font-size: 24px;">
                Sossara
              </a>
            </div>
            <h2>Quelque chose s'est mal passe</h2>
            <div class="error-img">
              <img class="img-fluid" src="assets/img/404-error.jpg" alt="img" />
            </div>
            <a [routerLink]="routes.home9" class="btn btn-primary rounded-pill">Retour</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>