<!-- Header -->
<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg header-nav">
      <div class="navbar-header w-100">
        <a (click)="toggleSidebar()" id="mobile_btn" href="javascript:void(0);">
            <span class="bar-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
        <a [routerLink]="routes.home9" class="navbar-brand logo"  *ngIf="isMobile">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
            <!-- Sossara -->
        </a>
        <!-- Troisième élément à ajouter -->
        <li style="text-decoration: none; list-style: none;" class="nav-item dropdown has-arrow logged-item ms-auto" *ngIf="users && users?.nom && isMobile">
            <a href="javascript:void(0);" class="dropdown-toggle profile-userlink test" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="{{generateImageUrl(users?.utilisateurPhoto?.nom)}}" (error)="handleAuthorImageError($event)" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-end">
                <a class="dropdown-item" [routerLink]='routes.dashboard'>Dashboard</a>
                <a class="dropdown-item" [routerLink]='routes.profile'>Profil</a>
                <a class="dropdown-item crd" (click)="logout()">Déconnexion</a>
            </div>
        </li>
    </div>
    
    
      <div class="main-menu-wrapper">
        <div class="menu-header">
          <a [routerLink]="routes.home9" class="menu-logo">
            <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
            <!-- Sossara -->
          </a>
          <a id="menu_close" (click)="hideSidebar()" class="menu-close" href="javascript:void(0);">
            <i class="fas fa-times"></i></a>
        </div>
        <ul class="main-nav">
          <li>

            <a [routerLink]="routes.home9" class="menu-logo" *ngIf="!isMobile">
              <img src="assets/img/logo.png" class="img-fluid" alt="Logo" />
              <!-- Sossara -->
            </a>
          </li>
          <ng-container *ngFor="let mainMenus of header">
            <ng-container *ngIf="mainMenus.separateRoute == true">
              <li [class.active]="base === mainMenus.base ">
                <a [routerLink]="mainMenus.route">{{ mainMenus.tittle }}</a>
              </li>
            </ng-container>
            <ng-container *ngIf="mainMenus.separateRoute == false">
              <li class="has-submenu" [ngClass]="{
                  megamenu: mainMenus.tittle == 'Home',
                  active: base == mainMenus.base || (base == 'home-one' && mainMenus.tittle == 'Home')
                }">
                <a href="javascript:void(0);" (click)="mainMenus.showAsTab = !mainMenus.showAsTab">{{ mainMenus.tittle
                  }} <i class="fas fa-chevron-down"></i></a>
                <ul class="submenu" [ngClass]="{
                    'show-sub-menu': mainMenus.showAsTab == true,
                    'mega-submenu': mainMenus.tittle == 'Home'
                  }">
                  <ng-container *ngFor="let menu of mainMenus.menu">
                    <ng-container *ngIf="
                        menu.hasSubRoute == false && mainMenus.tittle != 'Home'
                      ">
                      <li [class.active]="
                          base === menu.base && page === menu.page
                        ">
                        <a [routerLink]="menu.route">{{ menu.menuValue }}</a>
                      </li>
                    </ng-container>
                    <ng-container *ngIf="menu.hasSubRoute == true">
                      <li class="has-submenu" [class.active]="page === menu.page">
                        <a (click)="menu.showSubRoute = !menu.showSubRoute" [routerLink]="menu.route">{{ menu.menuValue
                          }}</a>
                        <ul class="submenu" [ngClass]="{
                            'show-sub-menu': menu.showSubRoute == true
                          }">
                          <ng-container *ngFor="let subMenu of menu.subMenus">
                            <li [class.active]="
                                base === subMenu.base &&
                                page === subMenu.page &&
                                last === subMenu.last
                              ">
                              <a [routerLink]="subMenu.route">{{
                                subMenu.menuValue
                                }}</a>
                            </li>
                          </ng-container>
                        </ul>
                      </li>
                    </ng-container>

                    <ng-container *ngIf="
                      menu.menuValue == 'Home One'
                      ">
                      <li>
                        <div class="megamenu-wrapper">
                          <div class="row">
                            <ng-container *ngFor="let menu of mainMenus.menu">
                              <div class="col-lg-2">
                                <div class="single-demo">
                                  <div class="demo-img">
                                    <a [routerLink]="menu.route"><img [src]="menu.img" class="img-fluid"
                                        alt="img" /></a>
                                  </div>
                                  <div class="demo-info">
                                    <a [routerLink]="menu.route">{{
                                      menu.menuValue
                                      }}</a>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </li>
                    </ng-container>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ng-container>
          <!-- Ajout des boutons d'inscription et de connexion -->
          <li class="nav-item" *ngIf="isLoginFailed == false && isMobile">
            <a class="nav-link header-reg" [routerLink]="routes.signup">Inscription</a>
          </li>
          <li class="nav-item" *ngIf="isLoginFailed == false && isMobile">
            <a class="nav-link header-login" [routerLink]="routes.login">Connexion</a>
          </li>
        </ul>
      </div>


      <ul class="nav header-navbar-rht " *ngIf="nav == true ">
        <li class="nav-item" *ngIf="isLoginFailed == false && !isMobile">
          <a class="nav-link header-reg" [routerLink]="routes.signup">Inscription</a>
        </li>
        <li class="nav-item" *ngIf="isLoginFailed == false && !isMobile">
          <a class="nav-link header-login" [routerLink]="routes.login"> Connexion</a>
        </li>
        <li class="nav-item" *ngIf="!isLocataire" style="cursor: pointer;">
          <a class="nav-link header-login add-listing" (click)="AjouterBienOrLogin()"><i class="fa-solid fa-plus"></i>
            Ajouter un bien </a>
        </li>
        <li class="nav-item dropdown has-arrow logged-item" *ngIf="isLoginFailed == true && !isMobile">
          <a [routerLink]="routes.reviews">
            <div class="dropdown-toggle profile-userlink notif crd" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell fa-2x mr-3"></i>
              <span class="badge rounded-pill badge-notification bg-danger mr-6">{{somme}}</span>
            </div>
          </a>
          
        </li>
        <!-- <li class="nav-item">
          <div class="language-selector">
            <ng-container *ngFor="let lang of languages">
              <button (click)="changeLanguage(lang.code)">
                <img [src]="lang.iconUrl" alt="{{ lang.code }} flag">
              </button>
            </ng-container>
          </div>
        </li> -->

        <li class="nav-item dropdown has-arrow logged-item" *ngIf="!isMobile">
          <a href="javascript:void(0);" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="users && users.nom">
            <img src="{{generateImageUrl(users?.utilisateurPhoto?.nom)}}" (error)="handleAuthorImageError($event)"
              alt="">
            <span>{{User?.nom}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]='routes.dashboard'>Dashboard</a>
            <a class="dropdown-item" [routerLink]='routes.profile'>Profil</a>
            <a class="dropdown-item crd" (click)="logout()">Déconnexion</a>
          </div>
        </li>

      </ul>

      <ul class="nav header-navbar-rht"   *ngIf="nav == false && !isMobile">
        <li class="nav-item" *ngIf="!isLocataire">
          <a class="nav-link header-login add-listing crd" (click)="AjouterBienOrLogin()"><i
              class="fa-solid fa-plus"></i>
            Ajouter un bien</a>
        </li>
        <li class="nav-item dropdown has-arrow logged-item" *ngIf="isLoginFailed == true">
          <a [routerLink]="routes.reviews">
            <div class="dropdown-toggle profile-userlink notif crd" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bell fa-2x mr-3"></i>
              <span class="badge rounded-pill badge-notification bg-danger mr-6">{{somme}}</span>
            </div>
          </a>
          <!-- <div class="dropdown-menu dropdown-menu-end">
            <div class="notification-item">
              <div class="notification-content">Votre candidature a été acceptée avec succès</div>
            </div>
            <div class="notification-item">
              <div class="notification-content">Le propriétaire du bien a lancé le processus de réparation</div>
            </div>
            <div class="notification-item">
              <div class="notification-content">Nouveau message de la part de <span style="color: #e98b11;">Tiecoura DIARRA</span></div>
            </div>
          </div> -->
        </li>
        <li class="nav-item dropdown has-arrow logged-item">
          <a href="javascript:void(0);" class="dropdown-toggle profile-userlink" data-bs-toggle="dropdown"
            aria-expanded="false" *ngIf="users && users.nom">
            <img src="{{generateImageUrl(users?.utilisateurPhoto?.nom)}}" (error)="handleAuthorImageError($event)"
              alt="">
            <span>{{users?.nom}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a class="dropdown-item" [routerLink]='routes.dashboard'>Dashboard</a>
            <a class="dropdown-item" [routerLink]='routes.profile'>Profil</a>
            <a class="dropdown-item crd" (click)="logout()">Déconnexion</a>
          </div>
        </li>
      </ul>












    </nav>
  </div>
</header>
<!-- /Header -->