<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title" style="color: white;">Liste des factures</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home9">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Facture</li>
                        <!-- <li class="breadcrumb-item active" aria-current="page">#{{facture?.numeroFacture}}</li> -->
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->

<div class="invoice-1 invoice-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="container">
       
                    <div class="box-inner-1 pb-3 mb-3 ">
                        <div class="d-flex justify-content-between mb-3 userdetails" style="font-size: 14px;">
                            <p class="fw-bold" *ngIf="bien?.periode?.nom === 'Journalier'">Prix journalier</p>
                            <p class="fw-bold" *ngIf="bien?.periode?.nom === 'Hebdomadaire'">Prix hebdomendaire</p>
                            <p class="fw-bold" *ngIf="bien?.periode?.nom === 'Mensuel'">Prix mensuel</p>
                            <p class="fw-lighter">{{formatPrice(bien?.prix)}} <span class="fw-bold">FCFA</span></p>
                        </div>
                        <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                            data-bs-interval="2000">
              
                            <div class="carousel-inner">
                                <div *ngFor="let photo of photoImmo; let i = index" class="carousel-item"
                                    [class.active]="i === 0">
                                    <img src="{{generateImageUrl(photo?.nom)}}" class="d-block w-100">
                                </div>
                             
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#my"
                                data-bs-slide="prev">
                                <div class="icon"> <span class="fas fa-arrow-left"></span> </div> <span
                                    class="visually-hidden">Precedent</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#my"
                                data-bs-slide="next">
                                <div class="icon"> <span class="fas fa-arrow-right"></span> </div> <span
                                    class="visually-hidden">Suivant</span>
                            </button>
                        </div>
                        <p class="dis my-3 info">{{bien?.nom}} </p>
                        <p class="dis mb-3 updates" [innerHTML]='bien ? bien?.description : "Aucune description"'></p>
                        <p class="dis mb-3 different fw-bold">Les caracteristiques du bien :</p>
                        <div class="d-flex flex-column dis">
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien.reference">
                                <p>Reference du bien</p>
                                <p>{{bien?.reference}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien.typeImmo">
                                <p>Type du bien</p>
                                <p>{{bien?.typeImmo?.nom}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien.periode">
                                <p>Periode</p>
                                <p>{{bien?.periode?.nom}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien.adresse">
                                <p>Quartier</p>
                                <p>{{bien?.adresse?.quartier}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien.adresse">
                                <p>Rue</p>
                                <p>{{bien?.adresse?.rue}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien.adresse">
                                <p>Porte</p>
                                <p>{{bien?.adresse?.porte}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien?.createdAt">
                                <p>Date de publication</p>
                                <p>{{bien?.createdAt | date:"dd/MM/yyyy"}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien?.nb_piece">
                                <p>Salon</p>
                                <p>{{bien?.nb_piece}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien?.chambre">
                                <p>Chambre</p>
                                <p>{{bien?.chambre}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien?.cuisine">
                                <p>Cuisine</p>
                                <p>{{bien?.cuisine}}</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2"
                                *ngIf="bien && bien?.toilette">
                                <p>Toilette</p>
                                <p>{{bien?.toilette}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="table-responsive">
                    <table class="listing-table datatable"
                        id="listdata-table" [style.display]="isMobile ? 'none' : 'block'">
                        <thead>
                            <tr>
                                <th >Numero de facture</th>
                                <th >Date de la facture</th>
                                <th >Montant</th>
                                <th >Statut</th>
                                <th >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let Facture of facture">
                                <td><span class="views-count">#{{Facture?.numeroFacture}}</span></td>
                                <td><span class="views-count"
                                    *ngIf="Facture && Facture?.createdAt">{{Facture?.createdAt
                                    |
                                    date:"dd MMM yyyy":locale}}</span></td>

                                    <td><span class="views-count">{{ formatPrice(Facture?.somme) }} FCFA</span></td>
                                    <td *ngIf="Facture?.statut"><span class="views-count">Payée</span></td>
                                    <td *ngIf="!Facture?.statut"><span class="views-count">Non Payée</span></td>
                                <td>

                                    <div class="action">
                                        <a (click)="goToDettailFacture(Facture?.uuid)"
                                            class="action-btn btn-view crd"><i class="feather-eye"></i></a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <table   class="listing-table datatable w-100"
                    id="listdata-table" [style.display]="!isMobile ? 'none' : 'block'">
                 
                    <tbody  *ngFor="let Facture of facture">
                        <tr style="border-bottom: 2px solid #2b3b56"
                           >
                            <td>Numero de la facture</td>
                            <td><span class="views-count">#{{Facture?.numeroFacture}}</span></td>
                           
                        </tr>
                        <tr style="border-bottom: 2px solid #2b3b56">
                            <td >Date de la facture</td>
                        <td><span class="views-count"
                            *ngIf="Facture && Facture?.createdAt">{{Facture?.createdAt
                            |
                            date:"dd MMM yyyy":locale}}</span></td>
                    </tr>
                    <tr style="border-bottom: 2px solid #2b3b56">
                        <td >Montant</td>
                    <td><span class="views-count">{{ formatPrice((Facture?.bien?.prix >
                        0 ? Facture?.bien?.prix : 0) * ((Facture?.bien?.avance > 0 ? Facture?.bien?.avance : 0) +
                        (Facture?.bien?.caution > 0 ? Facture?.bien?.caution : 1))) }} FCFA</span></td>

                    <tr style="border-bottom: 2px solid #2b3b56">
                        <td >Statut</td>
                    <td *ngIf="Facture?.statut"><span class="views-count">Payée</span></td>
                    <td *ngIf="!Facture?.statut"><span class="views-count">Non Payée</span></td>
                    
                </tr>
                <tr style="border-bottom: 2px solid #2b3b56">
                    <td >Action</td>
                    <td>

                    <div class="action">
                        <a (click)="goToDettailFacture(Facture?.uuid)"
                            class="action-btn btn-view crd"><i class="feather-eye"></i></a>
                    </div>
                </td>
            </tr>

                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>