.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination__container {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .crd:hover {
    cursor: pointer;
}

.crd {
    cursor: pointer;
}

  
  .pagination__page {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination__page--active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination__page--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
  
  .pagination__previous,
  .pagination__next {
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination__previous:hover,
  .pagination__next:hover,
  .pagination__page:hover {
    background-color: #f0f0f0;
  }
  
  .image-size {
    width: 100%; /* Remplacez cette valeur par la taille souhaitée */
    height: 300px; /* Remplacez cette valeur par la taille souhaitée */
  }

  .Pblog{
    font-size: 25px;
    font-weight: 700;
    color: #131212;
  }

  .pagination1{
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination1 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .pagination1 a{
    display: inline-block;
    padding: 10px 18px;
    color: #222;
  }
  
  /* ONE */
  
  .p1 a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
  }
  
  .p1 a.is-active{
    background-color: #e98b11;
    border-radius: 100%;
    color: #fff;
  }

  /* .pagelink li.is-active{
    background-color: #e98b11;
    color: #fff;
  } */

  .pagelink  .is-active>.page-link {
    background: #374B5C;
    color: #fff;
    border: 1px solid #374B5C;
  }