<!-- Main Content Section -->
<div class="list-content listmap-grid">
  <div class="container-fluid">
    <div class="listingmappage-content">
      <div class="listmapgrid-content">
        <div class="mt-5">
          <div class="col-lg-12">
            <div class="car-filter-section">
              <ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button
                    class="nav-link active"
                    id="pills-home-tab"
                    data-bs-toggle="pill"
                    data-bs-target="#pills-home"
                    type="button"
                    role="tab"
                    aria-controls="pills-home"
                    aria-selected="true"
                  >
                    Trouver un bien
                  </button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="pills-home"
                  role="tabpanel"
                  aria-labelledby="pills-home-tab"
                  tabindex="0"
                >
                  <div class="search-tab-col">
                    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                      <div class="row align-items-center search-form">
                        <div class="col-12 col-lg-12 search-group">
                          <div class="row">
                            <div class="col-lg-2">
                              <div class="d-flex real-estate-search">
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <i class="feather-map-pin"></i>
                                  </div>
                                </div>

                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    (change)="
                                      onChangeRegion($event.target); updateUrl()
                                    "
                                  >
                                    <option selected [value]="null">
                                      Region
                                    </option>
                                    <option *ngFor="let Region of region">
                                      {{ Region.nomregion }}
                                    </option>
                                    <!-- Ici, il manque la balise de fermeture </select> -->
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div class="d-flex real-estate-search">
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <i class="feather-map-pin"></i>
                                  </div>
                                </div>
<div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    (change)="
                                      onChangeCercle($event.target); updateUrl()
                                    "
                                  >
                                    <option selected [value]="null">
                                      Cercle
                                    </option>
                                    <option
                                      *ngFor="let Cercle of cercles"
                                      [value]="Cercle.id"
                                    >
                                      {{ Cercle.nomcercle }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div class="d-flex real-estate-search">
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <i class="feather-map-pin"></i>
                                  </div>
                                </div>
                                <!--<div class="flex-grow-1 ms-3">
                                                        <input type="text" name="name" class="border-0 text-truncate px-0 form-control" placeholder="Commune">
                                                    </div>-->
                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    [(ngModel)]="form.commune"
                                    name="commune"
                                    (change)="updateUrl()"
                                  >
                                    <option selected [value]="null">
                                      Commune
                                    </option>
                                    <option
                                      *ngFor="let Commune of communes1"
                                      [value]="Commune.id"
                                    >
                                      {{ Commune.nomcommune }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
<div class="col-lg-2">
                              <div
                                class="d-flex real-estate-search real-select"
                              >
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <img
                                      style="width: 20px"
                                      src="./assets/img/icons/fax-icon.png"
                                      alt=""
                                    />
                                  </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    (change)="onStatutChange($event)"
                                    [(ngModel)]="form.statut"
                                    name="statut"
                                    (change)="updateUrl()"
                                  >
                                    <option selected [value]="null">
                                      Statut
                                    </option>
                                    <option
                                      *ngFor="let Statut of status"
                                      [value]="Statut.id"
                                    >
                                      {{ Statut.nom }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-2">
                              <div class="d-flex real-estate-search">
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <i class="feather-home"></i>
                                  </div>
                                </div>

                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    [(ngModel)]="form.type"
                                    name="type"
                                    class="form-control"
                                    id=""
                                    (change)="updateUrl()"
                                  >
                                    <option selected [value]="null">
                                      Type
                                    </option>
                                    <option
                                      *ngFor="let Type of typebien"
                                      [value]="Type.id"
                                    >
                                      {{ Type.nom }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
<div class="col-lg-4 mt-2">
                              <div class="d-flex">
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <img
                                      style="width: 30px"
                                      src="./assets/img/icons/prix.jpg"
                                      alt=""
                                    />
                                  </div>
                                </div>
                                &nbsp; &nbsp;
                                <div class="col-md-11">
                                  <ng5-slider
                                    [(value)]="customHtmlMinValue"
                                    (valueChange)="updateMinPrice()"
                                    [(highValue)]="customHtmlMaxValue"
                                    (highValueChange)="updateMaxPrice()"
                                    [options]="customHtmlSliderOptions"
                                  ></ng5-slider>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-2">
                              <div class="d-flex real-estate-search">
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <img
                                      src="./assets/img/icons/bed-icon.svg"
                                      alt=""
                                    />
                                  </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    [(ngModel)]="form.chambre"
                                    name="chambre"
                                    (change)="updateUrl()"
                                  >
                                    <option selected [value]="null">
                                      Nombre de chambre
                                    </option>
                                    <option
                                      *ngFor="let item of valuesSelect"
                                      [value]="item"
                                    >
                                      {{ item }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div
                                class="d-flex real-estate-search real-select"
                              >
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <img
                                      src="./assets/img/icons/area-icon.svg"
                                      alt=""
                                    />
                                  </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    [(ngModel)]="form.nb_piece"
                                    name="nb_piece"
                                    (change)="updateUrl()"
                                  >
<option selected [value]="null">
                                      Nomre de salon
                                    </option>
                                    <option
                                      *ngFor="let item of valuesSelect"
                                      [value]="item"
                                    >
                                      {{ item }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="col-lg-2">
                              <div
                                class="d-flex real-estate-search real-select"
                              >
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <img
                                      src="./assets/img/icons/bath-icon.svg"
                                      alt=""
                                    />
                                  </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    [(ngModel)]="form.toilette"
                                    name="toilette"
                                    (change)="updateUrl()"
                                  >
                                    <option selected [value]="null">
                                      Nombre de Toilette
                                    </option>
                                    <option
                                      *ngFor="let item of valuesSelect"
                                      [value]="item"
                                    >
                                      {{ item }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>
<div class="col-lg-2">
                              <div
                                class="d-flex real-estate-search real-select"
                              >
                                <div
                                  class="flex-shrink-0 d-flex align-items-center"
                                >
                                  <div class="icon-blk rounded-circle">
                                    <img
                                      style="width: 20px"
                                      src="./assets/img/icons/649395.png"
                                      alt=""
                                    />
                                  </div>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                  <select
                                    class="form-control select category-select"
                                    [(ngModel)]="form.cuisine"
                                    name="cuisine"
                                    (change)="updateUrl()"
                                  >
                                    <option selected [value]="null">
                                      Nombre de cuisine
                                    </option>
                                    <option
                                      *ngFor="let item of valuesSelect"
                                      [value]="item"
                                    >
                                      {{ item }}
                                    </option>
                                  </select>
                                </div>
                              </div>
                            </div>

                            <div class="flex-grow-1 ms-3">
                              <p>
                                <a
                                  class="row mt-3 fw-bold"
                                  data-bs-toggle="collapse"
                                  href="#cautrecomm"
                                  role="button"
                                  aria-expanded="false"
                                  aria-controls="collapseExample"
                                >
                                  Autres commodites
                                </a>
                              </p>
                            </div>
                            <div class="collapse" id="cautrecomm">
                              <div class="card card-body">
                                <div class="row">
                                  <div
                                    class="col-4"
                                    *ngFor="let Commodite of commodite"
                                  >
                                    <div class="form-check mb-2">
                                      <input
                                        class="form-check-input"
                                        type="checkbox"
                                        value=""
                                        [(ngModel)]="Commodite.selected"
                                        [value]="Commodite.id"
                                        id="flexCheckDefault"
                                        (change)="onChangeCommodite()"
                                        name="commodite"
                                        (change)="updateUrl()"
                                      />
                                      <label
                                        class="form-check-label"
                                        for="flexCheckDefault"
                                      >
                                        {{ Commodite.nom }}
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- <div class="flex-grow-1 ms-3">
<input type="number" class="form-control" [(ngModel)]="customHtmlMinValue" name="customHtmlMinValue" (change)="updateMinPrice(); updateUrl()">
                              </div>
                              <div class="flex-grow-1 ms-3">
                                <input type="number" class="form-control" [(ngModel)]="customHtmlMaxValue" name="customHtmlMaxValue" (change)="updateMaxPrice(); updateUrl()">
                              </div> -->
                          </div>
                        </div>
                        <!-- <div class="col-12 col-lg-1 real-search-bar">
                          <button
                            class="btn car-search-icon float-end"
                            type="submit"
                          >
                            Rechercher
                          </button>
                        </div> -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div  class="col-lg-6 listingmappage-content" >
        <div class="listmapgrid-content"  style="overflow-y: auto; height: 450px; overflow-x: hidden;  ">
          <div class="blog-listview">
            <div class="card card2"
              *ngFor="let slide of bienImmo | filter:searchText ">
              <div class="blog-widget">
                <div class="blog-img">
                  <a (click)="goToDettailBien(slide.uuid)">
                    <div *ngIf="slide.photos && slide.photos.length > 0; else noImages">
                      <img src="{{ generateImageUrl(slide.photos[0].nom) }}" class="img-fluid image-size"
                        alt="blog-img" />
                    </div>
                    <ng-template #noImages>
                      <div class="type" *ngIf="slide.typeImmo.nom === 'Villa'">
                        <img src="../../../../assets/img/typebien/villa.png" class="img-fluid image-size"
                          alt="default-img">
                      </div>
                      <div class="type" *ngIf="slide.typeImmo.nom === 'Appartement'">
                        <img src="../../../../assets/img/typebien/appartement.png" class="img-fluid image-size"
                          alt="default-img">
                      </div>
                      <!-- <img src="{{ DEFAULT_IMAGE_URL }}" class="img-fluid image-size" alt="default-img"> -->
                    </ng-template>
                  </a>
                  <div class="fav-item">
                    <span [ngClass]="{'statutbien': slide.statut.nom === 'A vendre' }" class="Featured-text">{{ slide?.statut?.nom
                      }}</span>
                    <a href="javascript:void(0)" *ngIf="isLoggedIn == true " class="fav-icon"
                      (click)="AimerBien(slide.id)" [style.background-color]="favoriteStatus[slide.id] ? '#e98b11' : 'white'">
                      <i [style.color]="favoriteStatus[slide.id] ? 'white' : 'black'" class="feather-heart"></i>
                    </a>
                  </div>
                </div>
                <div class="bloglist-content">
                  <div class="card-body">
                    <div class="blogfeaturelink">
                      <div class="blog-features">
                        <a href="javascript:void(0);"><span>
                            <i class="fa-regular fa-circle-stop"></i>
                            {{ slide.typeImmo.nom }}</span></a>
                      </div>
                      <div class="blog-author">
                        <div class="blog-author-img">
                          <!-- <img [src]="slide.img2" alt="author" /> -->
                          <img src="{{generateImageUrl(slide?.utilisateur?.photo?.nom)}}" alt="author"
                            (error)="handleAuthorImageError($event)" />
                        </div>
                        <a (click)="goToDettailBien(slide.uuid)">{{ slide?.utilisateur?.nom}}</a>
                      </div>
                    </div>
                    <h6>
                      <a (click)="goToDettailBien(slide.uuid)">{{
                        slide.nom ? slide.nom : slide.typeImmo.nom
                        }}</a>
                    </h6>
                    <div class="blog-location-details">
                      <div class="location-info">
                        <i class="feather-map-pin"></i> {{ slide.adresse.quartier }}
                      </div>
                      <!-- <div class="location-info">
                        <i class="feather-phone-call"></i> 00556245562
                      </div> -->
                      <div class="location-info">
                        <i class="feather-eye"></i> {{ favoritedPropertiesCount1[slide.id] }}
                      </div>
                    </div>
                    <!-- <p class="ratings">
                      <span>4.0</span> ( 50 Reviews )
                    </p> -->
                    <div class="amount-details">
                      <div class="amount">
                        <span class="validrate">{{ formatPrice(slide.prix) }} FCFA </span>
                        <!-- <span>{{ slide.oldamount }}</span> -->
                      </div>
                      <a (click)="goToDettailBien(slide.id)">Savoir plus</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- PAGINATION  -->
           
          </div>


        </div>
      </div>
      <div class="col-lg-6 map-right">
        <!-- <app-list-map></app-list-map> -->
        <!-- <div id="map" class="map-listing" *ngIf="userPosition">
          <p-gmap [options]="options"
            [overlays]="overlays | filterMarkersByCriteria: searchText:selectedRegion:selectedCommune:selectedType"
            (onOverlayClick)="setInfo($event)" [style]="{ width: '100%', height: '100%' }"></p-gmap>
        </div> -->
        <div id="map" style="width: 98%"></div>
        <!-- <div class="map-wrapper">
          <div class="map-border">
            <div id="map"></div>
          </div>
        </div> -->

        <!-- <div class="map-container">
          <div class="map-frame">
            <div id="map" style="width: 100%; height: 400px;"></div>
          </div>
        </div> -->
      </div>
      <!-- <div class="col-lg-12">
        <app-map></app-map>
      </div> -->
    </div>
  </div>
</div>
<!-- /Main Content Section -->
