<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Details agent</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.home9">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="routes.listinglistsidebar">Nom Agence</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Nom Agent</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->

<!-- Main Content Section -->
<div class="list-content">
  <div class="container">
    <!-- <div class="bookmarks-content grid-view featured-slider"> -->
    <div class="row">
      <div class="col-lg-4 theiaStickySidebar">
        <div class="stickybar">
          <div class="listings-sidebar">
            <div class="card user-card">
              <h4>
                <img style="width: 27px;" src="assets/img/details-icon.svg" alt="details-icon" />
                Details Agent
              </h4>
              <div class="card-block">
                <div class="user-image" *ngIf="agent">
                  <img src="{{generateImageUrl(agent.photo)}}" class="img-radius"
                    alt="User-Profile-Image" (error)="handleAuthorImageError($event)">
                </div>
                <h6 class="f-w-600 m-t-25 m-b-10" *ngIf="agent && agent.nom">{{agent.nom}}</h6>
                <div class="row" *ngIf="agent && agent.email">
                  <div class="col-5" style="font-weight: bold;font-size: 14px">
                    <label>Email :</label>
                  </div>
                  <div class="col-7" style="font-size: 12px;">
                    <p>{{agent.email}}</p>
                  </div>
                </div>
                <div class="row" *ngIf="agent && agent.telephone">
                  <div class="col-5" style="font-weight: bold;font-size: 13px">
                    <label>Contact :</label>
                  </div>
                  <div class="col-7">
                    <p>{{agent.telephone}}</p>
                  </div>
                </div>
                <hr>
                <p class="text-muted m-t-15">Taux d'activite: 87%</p>
                <ul class="list-unstyled activity-leval">
                  <li class="active"></li>
                  <li class="active"></li>
                  <li class="active"></li>
                  <li></li>
                  <li></li>
                </ul>
                <div class="bg-c-green counter-block m-t-10 p-20">
                  <div class="row">
                    <div class="col-4">
                      <i class="feather-home"></i>
                      <p>{{NombreBienAgent}}</p>
                    </div>
                    <div class="col-4">
                      <i class="feather-user"></i>
                      <p>0</p>
                    </div>
                    <div class="col-4">
                      <i class="fas fa-thumbs-up"></i>
                      <p>{{totalLikes}}</p>
                    </div>
                  </div>
                </div>
                <div (click)="ContacterOrLogin(agent.id)">
                  <a class="btn btn-primartd mt-3"><i class="uil uil-filter"></i>
                    Contacter cet agent</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row sorting-div">
          <!-- <div class="col-lg-4 col-sm-4 align-items-center d-flex">
              <div class="count-search">
                <p>Showing <span>1-8</span> of 10 Results</p>
              </div>
            </div> -->
          <div class="col-lg-8 col-sm-8 align-items-center">
            <div class="sortbyset">
              <span class="sortbytitle">Trier par</span>
              <div class="sorting-select">
                <select class="form-control select" [(ngModel)]="searchText">
                  <option value="" selected>Tout</option>
                  <option>A louer</option>
                  <option>A vendre</option>
                </select>
              </div>
            </div>
            <div class="grid-listview">
              <ul>
                <li>
                  <a [routerLink]="routes.listinglistsidebar" class="active">
                    <i class="feather-list"></i>
                  </a>
                </li>
                <!-- <li>
                    <a [routerLink]="routes.listinggridsidebar">
                      <i class="feather-grid"></i>
                    </a>
                  </li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="bookmarks-content grid-view featured-slider">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 " *ngFor="let data of bienImmo | filter:searchText | paginate:{itemsPerPage :3, currentPage:p}">
              <div class="card aos aos-init aos-animate" data-aos="fade-up">
                <div class="blog-widget">
                  <div class="blog-img">
                    <a (click)="goToDettailBien(data.id)">
                      <div *ngIf="data.photos && data.photos.length > 0; else noImages">
                        <img src="{{ generateImageUrl(data.photos[0].nom) }}" class="img-fluid image-size"
                          alt="blog-img" />
                      </div>
                      <ng-template #noImages>
                        <img src="{{ DEFAULT_IMAGE_URL }}" class="img-fluid image-size" alt="default-img">
                      </ng-template>
                    </a>
                    <div class="fav-item">
                      <span [ngClass]="{'statutbien': data.statut === 'A vendre' }" class="Featured-text">{{ data.statut
                        }}</span>
                      <a href="javascript:void(0)" *ngIf="isLoggedIn == true " class="fav-icon"
                        (click)="AimerBien(data.id)"
                        [style.background-color]="favoriteStatus[data.id] ? '#e98b11' : ''">
                        <i [style.color]="favoriteStatus[data.id] ? 'white' : 'black'" class="feather-heart"></i>
                      </a>
                    </div>
                  </div>
                  <div class="bloglist-content">
                    <div class="card-body">
                      <div class="blogfeaturelink">
                        <div class="grid-author">
                          <!-- <img [src]="data.img2" alt="author"> -->
                          <img src="{{generateImageUrl(data.utilisateur.photo)}}" alt="author"
                            (error)="handleAuthorImageError($event)" />
                        </div>
                        <div class="blog-features">
                          <a href="javascript:void(0)"><span> <i
                                class="fa-regular fa-circle-stop"></i>{{data.typeImmo.nom }}</span></a>
                        </div>
                        <div class="blog-author text-end">
                          <span> <img src="assets/img/eye.svg" alt="vue">{{ favoritedPropertiesCount1[data.id] }}
                          </span>
                        </div>
                      </div>
                      <h6><a (click)="goToDettailBien(data.id)">{{ data.nom ? data.nom : data.typeImmo.nom }}</a></h6>
                      <div class="blog-location-details">
                        <div class="location-info">
                          <i class="feather-map-pin"></i> {{data.adresse.quartier}}
                        </div>
                        <div class="location-info">
                          <i class="fa-solid fa-calendar-days"></i> {{data.createdAt.date | date:"dd MMM yyyy":locale}}
                        </div>
                      </div>
                      <div class="amount-details">
                        <div class="amount">
                          <span class="validrate">{{ formatPrice(data.prix) }} FCFA</span>
                          <!-- <span>{{data.oldamount}}</span> -->
                        </div>
                        <div class="ratings">
                          <!-- <span>{{data. rating}}</span> {{data.rating1}} -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!-- PAGINATION  -->
           <pagination-controls *ngIf="bienImmo && bienImmo.length > 0" (pageChange)="p = $event"
            previousLabel="Précédent" nextLabel="Suivant" class="pagination" previousClass="pagination__previous"
            nextClass="pagination__next" containerClass="pagination__container" pageClass="pagination__page"
            activeClassName="pagination__page--active" disabledClass="pagination__page--disabled"></pagination-controls>

        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
<!-- /Main Content Section -->