<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md-12 col-12">
        <h2 class="breadcrumb-title">Details</h2>
        <nav aria-label="breadcrumb" class="page-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="routes.home9">Accueil</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="routes.listinggridsidebar">Biens</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ bien?.nom }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- /Breadscrumb Section -->


<!--Details Description  Section-->
<section class="details-description">
  <div class="container">
    <div class="about-details">
      <div class="about-headings">

        <div class="author-img">
          <img src="{{ generateQrCodeUrl(bien?.codeqr) }}" alt="QR Code" />
        </div>
        <div class="authordetails">
          <h5 *ngIf="bien && bien?.typeImmo">
            {{ bien?.nom ? bien?.nom : bien?.typeImmo?.nom }}
          </h5>
          <div class="rating">
            <p class="blog-category" *ngIf="bien && bien?.adresse">
              <a href="javascript:void(0)"><span>{{ bien?.adresse?.commune?.cercle?.region?.pays?.nompays }}
                  -
                  {{ bien?.adresse?.commune?.cercle?.region?.nomregion }}
                </span></a>
            </p>
            <p class="blog-category" *ngIf="bien && bien?.adresse && bien?.adresse?.commune">
              <a href="javascript:void(0)"><span>{{ bien?.adresse?.commune?.nomcommune }} -
                  {{ bien?.adresse?.quartier }}</span></a>
            </p>
            <p class="blog-category" *ngIf="bien && bien?.adresse && bien?.adresse?.rue">
              <a href="javascript:void(0)"><span>Rue : {{ bien?.adresse?.rue }}</span></a>
            </p>
            <p class="blog-category" *ngIf="bien && bien?.adresse && bien?.adresse?.porte">
              <a href="javascript:void(0)"><span> Porte : {{ bien?.adresse?.porte }}</span></a>
            </p>
          </div>
          <div class="rating">

            <div class="blog-category" style="margin-right: 10px">
              <span class="Featured-text" style="background-color: #374b5c">{{
                bien?.typeImmo?.nom
                }}</span>
            </div>
            <div class="blog-category">
              <span [ngClass]="{ statut: bien?.statut?.nom === 'A vendre' }" class="Featured-text">{{ bien?.statut?.nom
                }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="rate-details" *ngIf="bien && bien?.prix">
        <h4>{{ formatPrice(bien?.prix) }} FCFA</h4>
        <div class="row">
          <div class="col callnow crd mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" *ngIf="
              isLoggedIn == true &&
              currentUser == false && bien?.is_publish
            ">
            <a class="action-btn btn-edit">
              <i class="feather-phone-call"></i>Prendre Rendez-vous</a>
          </div>
          <div class="col callnow crd mt-5" *ngIf="
          isLoggedIn == false && bien?.is_publish
        ">
            <a class="action-btn btn-edit" [routerLink]="['/auth/connexion']">
              <i class="feather-phone-call"></i>Prendre Rendez-vous</a>
          </div>
          <!-- CANDIDATER UN BIEN   -->
          <div class="col callnow crd mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" *ngIf="
              isLoggedIn == true &&
              currentUser == false &&
              candidaterWithModal == true && bien?.is_publish && !bien?.candidater
            ">
            <a class="action-btn btn-edit">
              <i class="feather-edit-3"></i>Candidater pour ce bien</a>
          </div>
          
          <div class="col callnow crd mt-5" *ngIf="
              isLoggedIn == false && bien?.is_publish
            ">
            <a class="action-btn btn-edit" [routerLink]="['/auth/connexion']">
              <i class="feather-edit-3"></i> Candidater pour ce bien
            </a>
          </div>
          <div class="col  crd mt-5 disabled-link" *ngIf="!bien?.is_publish && currentUser != true">
            <a class="action-btn btn-edit " (click)="$event.preventDefault()">
              Bien non disponible
            </a>
          </div>




          <div class="col callnow crd mt-5" *ngIf="
              isLoggedIn == true &&
              currentUser == false &&
              candidaterWithModal == false && bien?.is_publish && !bien?.candidater
            ">
            <a (click)="CandidaterBien()" class="action-btn btn-edit">
              <i class="feather-edit-3"></i>Candidater pour ce bien</a>
          </div>
          <div class="col  crd mt-5 disabled-link" *ngIf="isLoggedIn == true &&
          currentUser == false && bien?.is_publish && bien?.candidater">
            <a class="action-btn btn-edit " (click)="$event.preventDefault()">
              Vous avez deja candidater
            </a>
          </div>
          <!-- BOUTON MODIFIER UN BIEN -->
          <div class="col callnow crd mt-5" (click)="goToModifierBien(bien.uuid)"
            *ngIf="isLoggedIn == true && currentUser == true">
            <a class="action-btn btn-edit">
              <i class="feather-edit-3"></i>Modifier ce bien</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--/Details Description  Section-->

<!-- Modal POUR LA CANDIDATURE -->
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Candidater pour ce bien
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <!-- date de naissance  -->
          <div class="form-group group-img">
            <label for="dateMaison">Date d'entrée dans la maison</label>
            <div class="group-img">
              <i class="feather-calendar"></i>
              <input id="dateMaison" name="date" [(ngModel)]="formCandidater.date" type="date"
                min="{{ getCurrentDate() }}" required class="form-control" placeholder="Date d'entrée dans la maison" />
            </div>
          </div>
          <div class="form-group group-img" *ngIf="bienJournalierHebdomadaire == false">

            <label for="dateMaison">Usage d'utilisation</label>
            <div class="group-img">
              <mat-form-field class="mat-custom-select" style="width: 98%">
                <mat-label *ngIf="selectedCategory == ''">Usage d'utilisation</mat-label>
                <mat-select name="usage" [(ngModel)]="formCandidater.usage">
                  <mat-option *ngFor="let item of usage" [value]="item.id">
                    {{ item?.nom }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
          <div class="form-group group-img" *ngIf="bienHebdomadaire == true">
            <label for="dateMaison">Choisir le nombre de semaine</label>
            <div class="group-img">
              <mat-form-field class="mat-custom-select" style="width: 98%">
                <mat-label *ngIf="selectedCategory == ''">Nombre de semaine</mat-label>
                <mat-select name="nombreSemaine" [(ngModel)]="formCandidater.nombreSemaine">
                  <mat-option *ngFor="let item of valuesSelectHebdo" [value]="item">
                    {{ item }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
          <div class="form-group group-img" *ngIf="bienJournalier == true">
            <label for="dateMaison">Choisir le nombre de jour</label>
            <div class="group-img">
              <mat-form-field class="mat-custom-select" style="width: 98%">
                <mat-label *ngIf="selectedCategory == ''">Nombre de jour</mat-label>
                <mat-select name="nombreJours" [(ngModel)]="formCandidater.nombreJours">
                  <mat-option *ngFor="let item of valuesSelectJourn" [value]="item">
                    {{ item }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Retour
        </button>
        <button (click)="CandidaterBien()" type="button" class="btn btn-primary">
          Candidater
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Prendre Rendez-vous pour ce bien
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="contactbusinessform">
          <div class="form-group">
            <label for="datePicker">Date :</label>
            <input type="date" class="form-control" id="datePicker" name="date" [(ngModel)]="RdvForm.date"
              min="{{ getCurrentDate() }}" />
          </div>
          <div class="form-group">
            <label for="timePicker">Heure :</label>
            <input type="time" class="form-control" id="timePicker" name="heure" [(ngModel)]="RdvForm.heure" />
          </div>
          <div *ngIf="isSuccess" class="alert alert-success" role="alert">
            {{ errorMessage }}
          </div>
          <div *ngIf="isError" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Retour
        </button>
        <button (click)="PrendreRvd(bien?.uuid)" type="button" class="btn btn-primary">
          Envoyer
        </button>
      </div>
    </div>
  </div>
</div>

<div class="details-main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="author-img" *ngFor="let photo of photos; let isFirst = first">
          <img class="image-size3" *ngIf="isFirst" src="{{ generateImageUrl(photo?.nom) }}" alt="authorimg" />
        </div>
        <div class="author-img" *ngIf="photos && photos?.length == 0">
          <div class="type" *ngIf="bien?.typeImmo?.nom === 'Villa'">
            <img src="../../../../assets/img/typebien/villa.png" class="img-fluid" alt="default-img" />
          </div>
          <div class="type" *ngIf="bien?.typeImmo?.nom === 'Appartement'">
            <img src="../../../../assets/img/typebien/appartement.png" class="img-fluid" alt="default-img" />
          </div>
          <div class="type" *ngIf="bien?.typeImmo?.nom === 'Terrain'">
            <img src="../../../../assets/img/typebien/terrain.png" class="img-fluid image-size" alt="default-img" />
          </div>
          <div class="type" *ngIf="bien?.typeImmo?.nom === 'Bureau'">
            <img src="../../../../assets/img/typebien/bureau.png" class="img-fluid image-size" alt="default-img" />
          </div>
          <div class="type" *ngIf="bien?.typeImmo?.nom === 'Champ'">
            <img src="../../../../assets/img/typebien/champ.png" class="img-fluid image-size" alt="default-img" />
          </div>
          <div class="type" *ngIf="bien?.typeImmo?.nom === 'Magasin'">
            <img src="../../../../assets/img/typebien/magasin.png" class="img-fluid image-size" alt="default-img" />
          </div>
        </div>
        <!--Gallery Section-->
        <div class="card gallery-section" *ngIf="photos && photos.length > 0">
          <div class="card-header">
            <img width="5%" src="assets/img/galerie.png" alt="gallery" />
            <h4>Galerie</h4>
          </div>
          <div class="card-body">
            <div class="gallery-content">
              <div class="row">
                <ng-container *ngFor="let photo of photos; let i = index">
                  <div class="col-lg-3 col-md-3 col-sm-3" style="width: 235px;" *ngIf="i < 12">
                    <div class="gallery-widget">
                      <img class="img-fluid image-size1" style="width: 200px !important;"
                        [src]="generateImageUrl(photo?.nom)" (click)="open(i, albumsOne)" />
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <!--/Gallery Section-->
        <!-- Description -->
        <div class="card">
          <div class="card-header">
            <span class="bar-icon">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <h4>Description</h4>
          </div>
          <div class="card-body" *ngIf="bien && bien?.description">
            <p [innerHTML]="bien ? bien?.description : 'Aucune description'"></p>
          </div>
        </div>

        <div class="" [style.display]="!isMobile ? 'none' : 'block'">
          <div class="stickybar">
            <div class="rightsidebar">
              <div class="card">
                <h4>
                  <img style="width: 27px" src="assets/img/details-icon.svg" alt="details-icon" />
                  Details du bien
                </h4>
                <ul>
                  <li *ngIf="bien && bien?.reference">
                    Reference du bien <span>{{ bien?.reference }}</span>
                  </li>
                  <li *ngIf="bien && bien?.caution">
                    Caution <span>{{ bien?.caution }} mois</span>
                  </li>
                  <li *ngIf="bien && bien?.avance">
                    Avance <span>{{ bien?.caution }} mois</span>
                  </li>
                  <li *ngIf="bien && bien?.typeImmo">
                    Type du bien <span>{{ bien?.typeImmo?.nom }}</span>
                  </li>
                  <li *ngIf="bien && bien?.surface">
                    Surface <span>{{ bien?.surface }} M2</span>
                  </li>
                  <li *ngIf="
                      bien?.caracteristique &&
                      bien?.caracteristique?.caracteristique
                    ">
                    Caracteristique
                    <span>{{ bien?.caracteristique?.caracteristique }}</span>
                  </li>
                  <li *ngIf="bien?.statut?.nom == 'A louer'">
                    Periode <span>{{ bien?.periode?.nom }}</span>
                  </li>
                  <li *ngIf="bien && bien?.adresse">
                    Quartier <span>{{ bien?.adresse?.quartier }}</span>
                  </li>
                  <li *ngIf="bien?.adresse && bien?.adresse?.rue">
                    Rue <span>{{ bien?.adresse?.rue }}</span>
                  </li>
                  <li *ngIf="bien?.adresse && bien?.adresse?.porte">
                    Porte <span>{{ bien?.adresse?.porte }}</span>
                  </li>
                  <li *ngIf="bien && bien?.createdAt">
                    Date de publication
                    <span>{{ bien?.createdAt | date : "dd/MM/yyyy" }}</span>
                  </li>
                  <li *ngIf="bien && bien?.nb_piece">
                    Salon <span>{{ bien?.nb_piece }}</span>
                  </li>
                  <li *ngIf="bien && bien?.chambre">
                    Chambre <span>{{ bien?.chambre }}</span>
                  </li>
                  <li *ngIf="bien && bien?.cuisine">
                    Cuisine <span>{{ bien?.cuisine }}</span>
                  </li>
                  <li *ngIf="bien && bien?.toilette">
                    Toilette<span>{{ bien?.toilette }}</span>
                  </li>

                </ul>
              </div>

              <div class="card" *ngIf="bien && bien?.codeqr">
                <h4><i class="feather-maximize"></i> Code Qr du bien</h4>
                <img src="{{ generateQrCodeUrl(bien?.codeqr) }}" alt="QR Code" />
                <!-- </div> -->
              </div>
              <div class="card" *ngIf="isLoggedIn == true && currentUser == false && bien?.is_publish">
                <h4><i class="feather-user"></i> Proprietaire</h4>
                <div class="sidebarauthor-details align-items-center">
                  <div class="sideauthor-img" *ngIf="bien && bien?.utilisateur">
                    <img src="{{ generateImageUrl(bien?.utilisateur?.photo?.nom) }}" alt="author"
                      (error)="handleAuthorImageError($event)" />
                  </div>
                  <div class="sideauthor-info">
                    <p class="authorname" *ngIf="bien && bien?.utilisateur">
                      {{ bien?.utilisateur?.nom }}
                    </p>
                    <!-- <p>Member since Nov 24, 2017</p> -->
                  </div>
                </div>
              </div>

              <div class="submit-section mb-3" style="text-align: center"
                *ngIf="isLoggedIn == true && currentUser == false && bien?.is_publish">
                <div class="attach-btn mb-3">
                  <textarea name="content" [(ngModel)]="MessageForm.content" class="input-msg-send form-control"
                    placeholder="Message"></textarea>
                </div>
                <button (click)="goToMessage(bien?.utilisateur?.email)" [disabled]="
                    !MessageForm?.content || MessageForm?.content?.trim() === ''
                  " class="btn btn-primary submit-btn w-100" type="submit">
                  Envoyer un message
                </button>
                <button (click)="goToMessage(bien?.utilisateur?.email)" [disabled]="
                !MessageForm?.content || MessageForm?.content?.trim() === ''
              " class="btn btn-primary submit-btn w-100" type="submit">
                  Envoyer un message
                </button>
              </div>
              <div class="card">
                <!-- <h4><i class="feather-briefcase"></i>Info Entreprise</h4> -->
                <div class="map-details">

                  <ul class="info-list">

                    <h4><i class="fas fa-share-alt"></i>Partager</h4>
                    <li class="socialicons pb-0">
                      <a [href]="
                          'https://www.facebook.com/sharer/sharer.php?u=https://sossara.ml/details-bien/' +
                          bien?.uuid
                        " target="_blank">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a [href]="
                          'https://twitter.com/intent/tweet?url=https://sossara.ml/details-bien/' +
                          bien?.uuid
                        " target="_blank">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a [href]="
                          'https://www.pinterest.com/pin/create/button/?url=https://sossara.ml/details-bien/' +
                          bien?.uuid
                        " target="_blank">
                        <i class="fab fa-pinterest"></i>
                      </a>
                      <!-- <a href="#" target="_blank"
                        ><i class="fab fa-instagram"></i
                      ></a> -->
                      <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://sossara.ml/details-bien/{{
                          bien?.uuid
                        }}" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                  </ul>

                </div>
              </div>


              <div class="card mb-0" *ngIf="isLoggedIn == true && currentUser == false && bien?.is_publish">
                <h4><i class="feather-phone-call"></i> Prendre Rendez-vous</h4>
                <form class="contactbusinessform">
                  <div class="form-group">
                    <label for="datePicker">Date :</label>
                    <input type="date" class="form-control" id="datePicker" name="date" [(ngModel)]="RdvForm.date"
                      min="{{ getCurrentDate() }}" />
                  </div>
                  <div class="form-group">
                    <label for="timePicker">Heure :</label>
                    <input type="time" class="form-control" id="timePicker" name="heure" [(ngModel)]="RdvForm.heure" />
                  </div>
                  <div *ngIf="isSuccess" class="alert alert-success" role="alert">
                    {{ errorMessage }}
                  </div>
                  <div *ngIf="isError" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                  </div>
                  <div class="submit-section">
                    <button (click)="PrendreRvd(bien?.uuid)" class="btn btn-primary submit-btn" type="submit">
                      Envoyer
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Description -->

        <!--Commodites-->
        <div class="card" *ngIf="lesCommodites && lesCommodites.length > 0">
          <div class="card-header">
            <i class="feather-list"></i>
            <h4>Les commodités</h4>
          </div>
          <div class="card-body">
            <div class="lisiting-featuesg">
              <div class="row">
                <div *ngFor="let commodite of lesCommodites"
                  class="featureslist d-flex align-items-center col-lg-3 col-md-3">
                  <div class="icone-img">
                    <img class="icone-size" src="{{ generateImageUrl(commodite?.icone) }}" alt="commodite" />
                  </div>
                  <div class="features-info mt-1">
                    <label>{{ commodite?.nom }}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Commodites-->

        <!--Map Section-->
        <div class="card" *ngIf="latitude !== null && longitude !== null">
          <div class="card-header">
            <img width="5%" src="assets/img/orange-location-icon-png-18.png" alt="gallery" />
            <h4>Emplacement du bien</h4>
          </div>
          <div class="card-body">
            <div class="google-maps">
              <div class="map-container" id="mape"></div>
            </div>
          </div>
        </div>

        <div class="card">

          <div class="container">
            <div class="about-details">
              <div class="rate-details" *ngIf="bienImmoPrecedent && bienImmoPrecedent?.length > 0">


                <div class="col-lg-12 theiaStickySidebar">
                  <div class="stickybar">
                    <div class="rightsidebar">
                      <div class="card" *ngIf="bienImmoPrecedent && bienImmoPrecedent?.length > 0"
                        (click)="goToDettailBien(bienImmoPrecedent[0]?.uuid)">
                        <h4 style="cursor: pointer;"><i class="feather-arrow-left"></i>Bien Précedent</h4>

                        <div class="card mb-3" style="max-width: 540px; cursor: pointer;"
                          *ngFor="let BienImo of bienImmoPrecedent">
                          <div class="row no-gutters">
                            <div class="col-md-4">
                              <img style="height: 100px; width: 133px;" *ngIf="BienImo?.photos; else defaultImage"
                                src="{{ generateImageUrl(BienImo?.photos) }}" class="card-img" alt="...">
                            </div>

                            <ng-template #defaultImage>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Villa'">
                                <img src="../../../../assets/img/typebien/villa.png" class="card-img" alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Appartement'">
                                <img src="../../../../assets/img/typebien/appartement.png" class="card-img"
                                  alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Terrain'">
                                <img src="../../../../assets/img/typebien/terrain.png" class="card-img"
                                  alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Bureau'">
                                <img src="../../../../assets/img/typebien/bureau.png" class="card-img"
                                  alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Champ'">
                                <img src="../../../../assets/img/typebien/champ.png" class="card-img" alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Magasin'">
                                <img src="../../../../assets/img/typebien/magasin.png" class="card-img"
                                  alt="default-img">
                              </div>
                            </ng-template>

                            <div class="col-md-8">
                              <div class="card-body">
                                <h6>{{ BienImo?.nom ? BienImo?.nom : BienImo?.typeImmo?.nom }}</h6>
                                <p class="card-text"><small class="text-muted" *ngIf="BienImo && BienImo?.createdAt"
                                    class="date-icon"><i class="fa-solid fa-calendar-days"></i> {{BienImo?.createdAt |
                                    date:"dd MMM yyyy":locale}}</small></p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rate-details" *ngIf="bienImmoSuivant && bienImmoSuivant?.length > 0">


                <div class="col-lg-12 theiaStickySidebar">
                  <div class="stickybar">
                    <div class="rightsidebar">
                      <div class="card" *ngIf="bienImmoSuivant && bienImmoSuivant?.length > 0"
                        (click)="goToDettailBien(bienImmoSuivant[0]?.uuid)">
                        <h4 style="cursor: pointer;"><i class="feather-arrow-right"></i>Bien Suivant</h4>

                        <div class="card mb-3" style="max-width: 540px; cursor: pointer;"
                          *ngFor="let BienImo of bienImmoSuivant">
                          <div class="row no-gutters">
                            <div class="col-md-4">
                              <img style="height: 100px; width: 133px;" *ngIf="BienImo?.photos; else defaultImage"
                                src="{{ generateImageUrl(BienImo?.photos) }}" class="card-img" alt="...">
                            </div>

                            <!-- <ng-template #defaultImage>
                              <img src="assets/img/typebien/villa.png" class="card-img" alt="...">
                            </ng-template> -->
                            <ng-template #defaultImage>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Villa'">
                                <img src="../../../../assets/img/typebien/villa.png" class="card-img" alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Appartement'">
                                <img src="../../../../assets/img/typebien/appartement.png" class="card-img"
                                  alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Terrain'">
                                <img src="../../../../assets/img/typebien/terrain.png" class="card-img"
                                  alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Bureau'">
                                <img src="../../../../assets/img/typebien/bureau.png" class="card-img"
                                  alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Champ'">
                                <img src="../../../../assets/img/typebien/champ.png" class="card-img" alt="default-img">
                              </div>
                              <div class="type" *ngIf="BienImo?.typeImmo?.nom === 'Magasin'">
                                <img src="../../../../assets/img/typebien/magasin.png" class="card-img"
                                  alt="default-img">
                              </div>
                            </ng-template>

                            <div class="col-md-8">
                              <div class="card-body">
                                <h6>{{ BienImo?.nom ? BienImo?.nom : BienImo?.typeImmo?.nom }}</h6>
                                <p class="card-text"><small class="text-muted" *ngIf="BienImo && BienImo?.createdAt"
                                    class="date-icon"><i class="fa-solid fa-calendar-days"></i> {{BienImo?.createdAt |
                                    date:"dd MMM yyyy":locale}}</small></p>

                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>


        </div>

        <div class="card review-sec mb-0">
          <div class="card-header align-items-center" *ngIf="commentaire && commentaire.length > 0">
            <i class="fa-regular fa-comment-dots"></i>
            <h4>Commentaires</h4>
          </div>
          <div class="card-body">
            <div class="review-list">
              <!-- <div class="container bootstrap snippets bootdey"> -->
              <!-- <div class="row">
                                    <div class="col-md-12"> -->
              <div class="blog-comment">
                <ul class="comments" *ngIf="commentaire && commentaire.length > 0">
                  <li class="clearfix " *ngFor="let commentaire of commentaire">
                    <img [src]="
                        generateImageUrl(commentaire?.utilisateur?.photo?.nom)
                      " (error)="handleAuthorImageError($event)" class="avatar" alt="" />
                    <div class="post-comments">
                      <p class="fw-bold">{{ commentaire?.utilisateur?.nom }}</p>
                      <p>
                        {{ commentaire?.contenu }}
                      </p>
                      <p class="heure">
                        <i class="fa-sharp fa-solid fa-calendar-days"></i>
                        {{ commentaire?.createdAt | date : "dd/MM/yyyy" }}
                        &nbsp;&nbsp;
                        <i class="fa-sharp fa-solid fa-calendar-days"></i>
                        {{ commentaire?.createdAt | date : "HH:mm" }}
                        <i class="float-end fw-bold">
                          <a *ngIf="commentaire?.utilisateur?.email === users?.email" data-bs-toggle="collapse"
                            [href]="'#collapseExample1-' + commentaire?.id" aria-expanded="false"
                            aria-controls="collapseExample" (click)="afficherCommentaire(commentaire?.id)" role="button"
                            style="margin-right: 10px"><small>Modifier</small></a>
                          <!-- Ajout de "Modifier" ici -->
                          <a *ngIf="isLoggedIn == true" data-bs-toggle="collapse"
                            [href]="'#collapseExample2-' + commentaire?.id" role="button" aria-expanded="false"
                            aria-controls="collapseExample"><small style="margin-right: 10px">
                              Repondre</small></a>
                          <a data-bs-toggle="collapse" [href]="'#collapseExample-' + commentaire?.id" role="button"
                            aria-expanded="false" aria-controls="collapseExample"><small>{{
                              commentaire?.reponses?.length
                              }}
                              Reponses</small></a>
                          <a *ngIf="commentaire?.utilisateur?.id === users?.id"
                            (click)="SupprimerCommentaire(commentaire?.id)" style="
                              margin-left: 10px;
                              color: black;
                              cursor: pointer;
                            "><small>Supprimer</small></a>
                        </i>
                      </p>
                      <div class="collapse" [id]="'collapseExample1-' + commentaire?.id">
                        <div class="card card-body">
                          <div class="chat-footer">
                            <div class="input-group">
                              <div class="attach-btn">
                                <input name="contenu" [(ngModel)]="commForm.contenu" type="text"
                                  class="input-msg-send form-control" placeholder="Modifier votre commentaire" />
                              </div>
                              <button (click)="Modifiercommentaire(commentaire?.id)" [disabled]="
                                  !commForm?.contenu ||
                                  commForm?.contenu?.trim() === ''
                                " type="button" class="btn msg-send-btn">
                                <i class="fas fa-paper-plane"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="collapse" [id]="'collapseExample2-' + commentaire?.id">
                        <div class="card card-body macard ">
                          <div class="chat-footer">
                            <div class="input-group">
                              <div class="attach-btn">
                                <input name="contenu" [(ngModel)]="reponseForm.contenu" type="text"
                                  class="input-msg-send form-control" placeholder="Repondre" />
                              </div>
                              <button (click)="Repondrecommentaire(commentaire?.id)" [disabled]="
                                  !reponseForm?.contenu ||
                                  reponseForm?.contenu?.trim() === ''
                                " type="button" class="btn msg-send-btn">
                                <i class="fas fa-paper-plane"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="collapse" [id]="'collapseExample-' + commentaire?.id">
                        <div class="card card-body">
                          <ul class="comments" *ngIf="
                              commentaire?.reponses &&
                              commentaire?.reponses?.length > 0
                            ">
                            <li class="clearfix" *ngFor="
                                let Reponse of commentaire?.reponses?.reverse()
                              ">
                              <img [src]="
                                  generateImageUrl(
                                    Reponse?.utilisateur?.photo?.nom
                                  )
                                " class="avatar" alt="" />
                              <div class="post-comments">
                                <p class="fw-bold">
                                  {{ Reponse?.utilisateur?.nom }}
                                </p>
                                <p>
                                  {{ Reponse?.contenu }}
                                </p>
                                <p class="heure">
                                  <i class="fa-sharp fa-solid fa-calendar-days"></i>
                                  {{ Reponse?.createdAt | date : "dd/MM/yyyy" }}
                                  &nbsp;&nbsp;
                                  <i class="fa-sharp fa-solid fa-calendar-days"></i>
                                  {{ Reponse?.createdAt | date : "HH:mm" }}

                                </p>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <ul class="" *ngIf="bien?.is_publish" >

                <li class="review-box feedbackbox mb-0">
                  <div class="review-details">
                    <h6>Ecrire un commentaire</h6>
                  </div>
                  <div class="card-body">
                    <form class="">

                      <div class="form-group">
                        <textarea name="contenu" [(ngModel)]="commentaireForm.contenu" rows="4" class="form-control"
                          placeholder="Ecriver votre commentaire*" required></textarea>
                      </div>
                      <div class="submit-section">
                        <button *ngIf="isLoggedIn == true" class="btn btn-primary submit-btn" [disabled]="
                            !commentaireForm.contenu ||
                            commentaireForm.contenu.trim() === ''
                          " (click)="Fairecommentaire(bien?.uuid)" type="submit">
                          Commenter
                        </button>
                        <button *ngIf="isLoggedIn == false" class="btn btn-primary submit-btn" [disabled]="
                        !commentaireForm.contenu ||
                        commentaireForm.contenu.trim() === ''
                      ">
                          <a class="" [routerLink]="['/auth/connexion']">
                            Commenter</a>
                        </button>
                      </div>
                    </form>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 theiaStickySidebar" [style.display]="isMobile ? 'none' : 'block'">
        <div class="stickybar">
          <div class="rightsidebar">
            <div class="card">
              <h4>
                <img style="width: 27px" src="assets/img/details-icon.svg" alt="details-icon" />
                Details du bien
              </h4>
              <ul>
                <li *ngIf="bien && bien?.reference">
                  Reference du bien <span>{{ bien?.reference }}</span>
                </li>
                <li *ngIf="bien && bien?.caution">
                  Caution <span>{{ bien?.caution }} mois</span>
                </li>
                <li *ngIf="bien && bien?.avance">
                  Avance <span>{{ bien?.caution }} mois</span>
                </li>
                <li *ngIf="bien && bien?.typeImmo">
                  Type du bien <span>{{ bien?.typeImmo?.nom }}</span>
                </li>
                <li *ngIf="bien && bien?.surface">
                  Surface <span>{{ bien?.surface }} M2</span>
                </li>
                <li *ngIf="
                    bien?.caracteristique &&
                    bien?.caracteristique?.caracteristique
                  ">
                  Caracteristique
                  <span>{{ bien?.caracteristique?.caracteristique }}</span>
                </li>
                <li *ngIf="bien?.statut?.nom == 'A louer'">
                  Periode <span>{{ bien?.periode?.nom }}</span>
                </li>
                <li *ngIf="bien && bien?.adresse">
                  Quartier <span>{{ bien?.adresse?.quartier }}</span>
                </li>
                <li *ngIf="bien?.adresse && bien?.adresse?.rue">
                  Rue <span>{{ bien?.adresse?.rue }}</span>
                </li>
                <li *ngIf="bien?.adresse && bien?.adresse?.porte">
                  Porte <span>{{ bien?.adresse?.porte }}</span>
                </li>
                <li *ngIf="bien && bien?.createdAt">
                  Date de publication
                  <span>{{ bien?.createdAt | date : "dd/MM/yyyy" }}</span>
                </li>
                <li *ngIf="bien && bien?.nb_piece">
                  Salon <span>{{ bien?.nb_piece }}</span>
                </li>
                <li *ngIf="bien && bien?.chambre">
                  Chambre <span>{{ bien?.chambre }}</span>
                </li>
                <li *ngIf="bien && bien?.cuisine">
                  Cuisine <span>{{ bien?.cuisine }}</span>
                </li>
                <li *ngIf="bien && bien?.toilette">
                  Toilette<span>{{ bien?.toilette }}</span>
                </li>

              </ul>
            </div>

            <div class="card" *ngIf="bien && bien?.codeqr">
              <h4><i class="feather-maximize"></i> Code Qr du bien</h4>
              <!-- <div class="sidebarauthor-details align-items-center"> -->
              <img src="{{ generateQrCodeUrl(bien?.codeqr) }}" alt="QR Code" />
              <!-- </div> -->
            </div>
            <div class="card" *ngIf="isLoggedIn == true && currentUser == false">
              <h4><i class="feather-user"></i> Proprietaire</h4>
              <div class="sidebarauthor-details align-items-center">
                <div class="sideauthor-img" *ngIf="bien && bien?.utilisateur">
                  <img src="{{ generateImageUrl(bien?.utilisateur?.photo) }}" alt="author"
                    (error)="handleAuthorImageError($event)" />
                </div>
                <div class="sideauthor-info">
                  <p class="authorname" *ngIf="bien && bien?.utilisateur">
                    {{ bien?.utilisateur?.nom }}
                  </p>

                </div>
              </div>
            </div>

            <div class="submit-section mb-3" style="text-align: center" *ngIf="bien?.is_publish">
              <div class="attach-btn mb-3" *ngIf="currentUser == false">
                <textarea name="content" [(ngModel)]="messageInput" class="input-msg-send form-control"
                  placeholder="Message"></textarea>
              </div>
              <button *ngIf="isLoggedIn == false && bien?.is_publish" (click)="goToLogin()" class="btn btn-primary submit-btn w-100">
                Envoyer un message
              </button>
              <button *ngIf="isLoggedIn == true && currentUser == false && bien?.is_publish"
                (click)="ContacterOrLogin(bien?.utilisateur?.uuid)" class="btn btn-primary submit-btn w-100"
                type="submit">
                Envoyer un message
              </button>

            </div>
            <div class="card" *ngIf="bien?.is_publish">
              <div class="map-details">

                <ul class="info-list">

                  <h4><i class="fas fa-share-alt"></i>Partager</h4>
                  <li class="socialicons pb-0">
                    <a [href]="
                        'https://www.facebook.com/sharer/sharer.php?u=https://sossara.ml/details-bien/' +
                        bien?.uuid
                      " target="_blank">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                    <a [href]="
                        'https://twitter.com/intent/tweet?url=https://sossara.ml/details-bien/' +
                        bien?.uuid
                      " target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a [href]="
                        'https://www.pinterest.com/pin/create/button/?url=https://sossara.ml/details-bien/' +
                        bien?.uuid
                      " target="_blank">
                      <i class="fab fa-pinterest"></i>
                    </a>

                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://sossara.ml/details-bien/{{
                        bien?.uuid
                      }}" target="_blank">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                </ul>

              </div>
            </div>


            <div class="card mb-0" *ngIf=" currentUser == false && bien?.is_publish">
              <h4><i class="feather-phone-call"></i> Prendre Rendez-vous</h4>
              <form class="contactbusinessform">
                <div class="form-group">
                  <label for="datePicker">Date :</label>
                  <input type="date" class="form-control" id="datePicker" name="date" [(ngModel)]="RdvForm.date"
                    min="{{ getCurrentDate() }}" />
                </div>
                <div class="form-group">
                  <label for="timePicker">Heure :</label>
                  <input type="time" class="form-control" id="timePicker" name="heure" [(ngModel)]="RdvForm.heure" />
                </div>
                <div *ngIf="isSuccess" class="alert alert-success" role="alert">
                  {{ errorMessage }}
                </div>
                <div *ngIf="isError" class="alert alert-danger" role="alert">
                  {{ errorMessage }}
                </div>
                <div class="submit-section">
                  <button *ngIf="isLoggedIn == true" (click)="PrendreRvd(bien?.uuid)" class="btn btn-primary submit-btn"
                    type="submit">
                    Envoyer
                  </button>
                  <button *ngIf="isLoggedIn == false" class="btn btn-primary submit-btn" type="submit">
                    <a class="" [routerLink]="['/auth/connexion']">
                      Envoyer</a>

                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Details Main Section -->