<!-- Footer -->
<footer class="footer">
    <!-- <div class="container">
           <div class="stay-tuned">
            <h3>Stay Tuned With Us</h3>
            <p>Subcribe to our newletter and never miss our latest news and promotions. Our newsletter is sent once a week, every thursday.</p>
            <form>
                <div class="form-group">
                    <div class="group-img">
                        <i class="feather-mail"></i>
                        <input type="text" class="form-control" placeholder="Enter Email Address">
                    </div>
                </div>
                <button [routerLink]="routes.home1" class="btn btn-primary" > Subscribe</button>
            </form>
        </div>
    </div> -->

    <!-- Footer Top -->
    <div class="footer-top aos" data-aos="fade-up" data-aos-duration="1200">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget">
                        <div class="footer-logo" style="color: #e98b11; font-weight: bold;font-size: 20px;">
                            <!--<a href="#"><img src="assets/img/footerlogo.svg" alt="logo"></a>-->
                            Sossara
                        </div>
                        <div class="footer-content">
                            <p> <span style="color: #e98b11;">Sossara</span> est une plateforme 100% dédiée à l'immobilier, qui permet de démartérialiser complètement et d'automatiser le parcours de gestion des locatives, des syndics et des ventes immobilières. </p>
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h4 class="footer-title">A propos</h4>
                        <ul>
                            <li>
                                <a [routerLink]="routes.about">A propos</a>
                            </li>
                            <!--<li>
                                <a href="javascript:void(0)">Documentation</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.servicedetails">Services</a>
                            </li>-->
                            <li>
                                <a [routerLink]="routes.login">Commencer</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Liens rapides</h2>
                        <ul>
                            <li>
                                <a [routerLink]="routes.home9">Accueil</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.listinggridsidebar">Biens</a>
                            </li>
                            <!--<li>
                                <a href="javascript:void(0)">Customers</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Carriers</a>
                            </li>-->
                            <li>
                                <a [routerLink]="routes.bloggridsidebar">Notre Blog</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-6" *ngIf="commune && commune.length > 0">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Top villes</h2>
                        <ul>
                            <li *ngFor="let Commune of commune">
                                <a *ngIf="Commune && Commune.nomcommune" (click)="goToDettailCommune(Commune.uuid)">{{Commune.nomcommune}}</a>
                            </li>
                            <!-- <li>
                                <a href="javascript:void(0)">Commune III</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Commune I</a>
                            </li> -->
                            <!--<li>
                                <a href="javascript:void(0)">Chicago</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Alabama</a>
                            </li>-->
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget">
                        <h2 class="footer-title">Communication</h2>
                        <div class="footer-contact-info">
                                <div class="footer-address">
                                    <img style="width: 30px;" src="assets/img/icons/phone.svg" alt="Callus">
                                    <p><span>Contactez-nous</span> <br> +223 67 16 77 77 </p>
                                </div>
                                <div class="footer-address">
                                    <img style="width: 30px;" src="assets/img/icons/mess.svg" alt="Callus">
                                    <p><span>Envoyer Message</span> <br> contact@sossara.ml</p>
                                </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
            </div>

            <!-- Footer Counter Section-->
            <!--<div class="footercount">
                    <div class="row">
                             <div class="col-lg-3 col-md-3">
                                <div class="vistors-details">
                                    <p>Our Unique Visitor</p>
                                    <p class="visitors-value">25,329,532</p>
                                </div>
                             </div>
                              <div class="col-lg-3 col-md-3">
                                  <div class="vistors-details">
                                    <p>Our Unique Visitor</p>
                                    <p class="visitors-value">25,329,53264546</p>
                                </div>
                             </div>
                             <div class="col-lg-3 col-md-3">
                                 <div class="vistors-details">
                                    <p>Our Unique Visitor</p>
                                    <p class="visitors-value">25,329,53264546</p>
                                </div>
                             </div>
                              <div class="col-lg-3 col-md-3">
                                <div class="vistors-details">
                                    <p>We Accept</p>
                                    <ul class="d-flex">
                                        <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/amex-pay.svg" alt="amex"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/apple-pay.svg" alt="pay"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/gpay.svg" alt="gpay"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/master.svg" alt="paycard"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/phone.svg" alt="spay"></a></li>
                                        <li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/visa.svg" alt="visa"></a></li>
                                    </ul>
                                </div>
                             </div>
                    </div>
            </div>-->
            <!-- /Footer  Counter Section-->

        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row text-center">
                    <!-- <div class="col-md-6"> -->
                        <div class="copyright-text">
                            <p class="mb-0">Tous droits reserves. &copy; 2023 - 2024 - Sossara.</p>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="col-md-6"> -->
                        <!-- Copyright Menu -->
                        <!-- <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li>
                                    <a [routerLink]="routes.privacypolicy">Privacy </a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.faq">Faq </a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.termscondition">Terms</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- /Copyright Menu -->
                    <!-- </div> -->
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->
