<!-- Breadscrumb Section -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Messages</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home9">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Messages</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadscrumb Section -->
<!-- Profile Content -->
<div class="dashboard-content">
    <div class="container">
        <div class="">
            <ul class="dashborad-menus">
                <li>
                    <a [routerLink]="routes.dashboard">
                        <i class="feather-grid"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.mylisting">
                        <i class="feather-list"></i> <span>Mes biens</span>
                    </a>
                </li>
                <li *ngIf="isAgence">
                    <a [routerLink]="routes.bookmarks">
                        <i class="fas fa-users"></i> <span>Mes agents</span>
                    </a>
                </li>
                <li *ngIf="isAgence ||   isProprietaire">
                    <a [routerLink]="routes.rdv">
                        <i class="far fa-calendar-alt"></i> <span>Rendez-vous</span>
                    </a>
                </li>
                <li class="active">
                    <a [routerLink]="routes.messages">
                        <i class="fa-solid fa-comment-dots"></i> <span>Messages</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.reviews">
                        <i class="fas fa-bell"></i> <span>Notifications</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="routes.profile">
                        <i class="fa-solid fa-user"></i> <span>Profil</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="profile-content">
            <div class="row dashboard-info chat-window">
                <div class="col-lg-5">
                    <div class="chat-cont-left">
                        <form class="chat-search">
                            <div class="form-group">
                                <div class="group-img">
                                    <img src="assets/img/chatsearch.svg" alt="">
                                    <input name="searchText" [(ngModel)]="searchText" type="text" class="form-control"
                                        placeholder="Rechercher">
                                </div>
                            </div>
                        </form>
                        <div class=" card chat-users-list" [style.display]="isMobile ? 'none' : 'block'">
                            <div class="card-body msg_card_bodyZ chat-scroll">
                                <a class="media d-flex" *ngFor="let Conversations of chat | filter:searchText">
                                    <div class="media-img-wrap flex-shrink-0 crd"
                                        (click)="loadMessages(Conversations?.uuid)">
                                        <div class="img_cont">
                                            <div class="rounded-circle user_img text_inside_circle1"
                                                *ngIf="Conversations?.expediteur?.email!= senderCheck">
                                                {{Conversations?.expediteur?.nom.substring(0,1)}}</div>
                                            <div class="rounded-circle user_img text_inside_circle1"
                                                *ngIf="Conversations?.destinateur?.email!= senderCheck">
                                                {{Conversations?.destinateur?.nom.substring(0,1)}}</div>
                                        </div> &nbsp; &nbsp;
                                    </div>
                                    <div class="media-body flex-grow-1 mt-4"
                                        (click)="loadChatByEmail(Conversations?.destinateur, Conversations?.expediteur)">
                                        <div>
                                            <div class="user-name"
                                                *ngIf="Conversations?.expediteur?.email!= senderCheck">
                                                {{Conversations?.expediteur?.nom}}</div>
                                            <div class="user-name"
                                                *ngIf="Conversations?.destinateur?.email!= senderCheck">
                                                {{Conversations?.destinateur?.nom}}</div>
                                        </div>

                                        <div>
                                            <div class="badge badge-success rounded-pill">
                                                {{Conversations?.chatMessages?.length}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class=" card chat-users-list" [style.display]="!isMobile ? 'none' : 'block'">
                            <div class="card-body msg_card_bodyZ chat-scroll">
                                <a class="media d-flex" [routerLink]="'/userpages/details-conversation'"
                                    *ngFor="let Conversations of chat | filter:searchText">
                                    <div class="media-img-wrap flex-shrink-0 crd"
                                        (click)="loadChatByEmail(Conversations?.destinateur, Conversations?.expediteur)">
                                        <div class="img_cont">
                                            <div class="rounded-circle user_img text_inside_circle1"
                                                *ngIf="Conversations?.expediteur?.email!= senderCheck">
                                                {{Conversations?.expediteur?.nom.substring(0,1)}}</div>
                                            <div class="rounded-circle user_img text_inside_circle1"
                                                *ngIf="Conversations?.destinateur.email!= senderCheck">
                                                {{Conversations?.destinateur?.nom.substring(0,1)}}</div>
                                            <!-- <div class="rounded-circle user_img text_inside_circle1" *ngIf="secondUserName==senderCheck">
                                          {{firstUserName.substring(0,1)}}</div> -->
                                        </div> &nbsp; &nbsp;
                                    </div>
                                    <div class="media-body flex-grow-1 mt-4"
                                        (click)="loadChatByEmail(Conversations?.destinateur, Conversations?.expediteur)">
                                        <div>
                                            <div class="user-name"
                                                *ngIf="Conversations?.expediteur?.email!= senderCheck">
                                                {{Conversations?.expediteurInfo?.nom}}vc</div>
                                            <div class="user-name"
                                                *ngIf="Conversations?.destinateur?.email!= senderCheck">
                                                {{Conversations?.destinateurInfo?.nom}}</div>

                                            <!-- <div class="user-last-chat">{{Conversations.content}}</div> -->
                                        </div>

                                        <div>
                                            <div class="badge badge-success rounded-pill">
                                                {{Conversations?.chatMessages?.length}}</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7" *ngIf="!uuidChat" [style.display]="isMobile ? 'none' : 'block'">
                    <div class="chat_window">
                        <div class="top_menu">
                            <div class="buttons">
                                <div class="button close"></div>
                                <div class="button minimize"></div>
                                <div class="button maximize"></div>
                            </div>
                            <div class="title" *ngIf="message?.expediteur?.email!= senderCheck">
                                {{message?.expediteur?.nom}}
                            </div>
                            <div class="title" *ngIf="message?.destinateur?.email!= senderCheck">
                                {{message?.destinateur?.nom}}
                            </div>
                        </div>
                        <ul class="messages">
                            <li class="message right" *ngFor="let item of messageList"
                                [ngClass]="{'left': item.message_side === 'receiver', 'right': item.message_side === 'sender'}">
                                <div class="avatar">
                                    <div class="circle-avatar">
                                        {{item.initials}}
                                    </div>
                                    <!-- <div class="circle-avatar" *ngIf="message?.destinateur?.email!= senderCheck">
                                        {{initialDest}}
                                    </div> -->
                                </div>
                                <div class="text_wrapper">
                                    <div class="text">{{item.message}}</div>
                                </div>
                            </li>
                        </ul>
                        <div class="bottom_wrapper clearfix">
                            <div class="message_input_wrapper">
                                <input class="message_input" placeholder="Message..." [(ngModel)]="messageInput"
                                    (keyup.enter)="sendMessage()" />
                            </div>
                            <div class="send_message" (click)="sendMessage()">
                                <div class="icon"></div>
                                <div class="text">Envoyer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>